.select-container {
  border: none !important;
}

.repo-select-container {
  max-width: 380px !important;
  @media only screen and (max-width: 769px) {
    max-width: 300px;
  }
}

.date-picker-container {
  z-index: 999;
}
