@import "../../../../styles/_colors.module.scss";

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 42px;
}

.text-container {
  position: relative;
  left: 5px;
  width: 100%;

  span {
    &:before,
    &:after {
      background-color: $white-0;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 30%;
      max-width: 122px;
    }

    &:before {
      right: 25px;
      margin-left: -50%;
    }

    &:after {
      left: 25px;
      margin-right: -50%;
    }
  }
}

.through-text {
  background-color: transparent;
  padding: 0 20px;
  color: $white-0;
  z-index: 20;
}

.through-container {
  color: $gray-700;
  text-align: center;
  margin: 30px 0px;
  position: relative;
  overflow: hidden;
}

.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: $gray-500;
  vertical-align: middle;
}

.terms-and-conditions {
  margin-top: 80px;
  a {
    color: $login-title;
    text-decoration: none;
  }
}

.login-button {
  background-color: $login-title;
  color: $black-950;
  box-shadow: none;
  border: none;

  &:hover {
    background-color: linear-gradient(86.7deg, $login-button-bg1-hover 0%, $login-button-bg2-hover 102.54%);
    box-shadow: 0px 0px 20px $login-button-shadow-hover;
    color: $login-text-hover;
  }

  svg path {
    fill: $black-950;
  }
}

.sign-in-button {
  background-color: transparent;
  border: 2px solid $login-title;
  color: $login-title;

  &:hover {
    background-color: $signin-button-bg-hover;
    color: $login-text-hover;

    svg path {
      fill: $black-950;
    }
  }

  svg path {
    fill: $login-title;
  }
}
