@import "../../../styles/_colors.module.scss";

.shadow {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
}

.icon {
  height: 0.875rem;
}

.avatar {
  height: 54px;
  width: 54px;
  border-radius: 27px;
}

.social {
  border-bottom: 1px solid $white-50;
}

.social:last-child {
  border-bottom: none;
}

.social-icon {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.social-icon-small {
  height: 25px;
  width: 40px;
  object-fit: contain;
}

.upcoming {
  background: $white-50;
  opacity: 0.2;
}