@import '../../../styles/colors.module';
@import '../../../styles/content.styles';

.input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid $gray-400;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
  resize: none;
  color: var(--color-font-create-snippet-modal);
}

.title {
  color: var(--color-title-create-snippet-modal);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

  span {
    color: $red-500;
  }
}

.error {
  margin-top: 4px;
  color: $red-500;
}
