@import '../../../../styles/_colors.module.scss';

.img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.circle-container {
  width: 100%;
  margin: 0 auto;
  max-width: 625px;
  position: relative;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.circle-inner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin circle-base {
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle {
  @include circle-base;
  background: $gray-200;
  cursor: pointer;
}

.empty-circle {
  @include circle-base;
  background: $gray-200;
}

.empty-negative-circle {
  @include circle-base;
  border: 1px solid $gray-700;
  opacity: 0.5;
}

@mixin circle--first-layer {
  height: 12.5%;
  width: 12.5%;
}

@mixin circle--second-layer {
  height: 10.5%;
  width: 10.5%;
}

@mixin circle--third-layer {
  height: 8%;
  width: 8%;
}

.user-0 {
  height: 20%;
  width: 20%;
  transform: translate(-50%, -50%);
}

/* 1st Layer */
.user-1 {
  @include circle--first-layer;
  transform: translate(-50%, -50%) translate(140%, 0%);
}

.user-2 {
  @include circle--first-layer;
  transform: translate(-50%, -50%) translate(90%, 110%);
}

.user-3 {
  @include circle--first-layer;
  transform: translate(-50%, -50%) translate(-35%, 135%);
}

.user-4 {
  @include circle--first-layer;
  transform: translate(-50%, -50%) translate(-130%, 60%);
}

.user-5 {
  @include circle--first-layer;
  transform: translate(-50%, -50%) translate(-130%, -60%);
}

.user-6 {
  @include circle--first-layer;
  transform: translate(-50%, -50%) translate(-30%, -135%);
}

.user-7 {
  @include circle--first-layer;
  transform: translate(-50%, -50%) translate(90%, -110%);
}

/* 2nd Layer */
.user-8 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(-289%, -60%);
}

.user-9 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(-293%, 68%);
}

.user-10 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(-227%, -180%);
}

.user-11 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(-118%, -258%);
}

.user-12 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(12%, -292%);
}

.user-13 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(141%, -253%);

}

.user-14 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(240%, -155%);
}

.user-15 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(295%, -40%);
}

.user-16 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(290%, 90%);
}

.user-17 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(232%, 195%);
}

.user-18 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(124%, 261%);
}


.user-19 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(-124%, 273%);
}

.user-20 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(3%, 288%);
}

.user-21 {
  @include circle--second-layer;
  transform: translate(-50%, -50%) translate(-234%, 190%);
}

/* =============== 3rd Layer ============== */

/* 1st circle */
.user-22 {
  @include circle--third-layer;

  transform: translate(-605%, -20%);
}

.user-23 {
  @include circle--third-layer;

  transform: translate(-590%, -165%);
}

.user-24 {
  @include circle--third-layer;

  transform: translate(-522%, -295%);
}

/* 4th circle */
.user-25 {
  @include circle--third-layer;

  transform: translate(-440%, -401%);
}

.user-26 {
  @include circle--third-layer;
  transform: translate(-50%, -50%) translate(-275%, -430%);
}

.user-27 {
  @include circle--third-layer;

  transform: translate(-210%, -548%);
}

.user-28 {
  @include circle--third-layer;

  transform: translate(-78%, -570%);
}

.user-29 {
  @include circle--third-layer;

  transform: translate(58%, -565%);
}

.user-30 {
  @include circle--third-layer;

  transform: translate(189%, -525%);
}

.user-31 {
  @include circle--third-layer;

  transform: translate(313%, -471%);
}

.user-32 {
  @include circle--third-layer;

  transform: translate(409%, -360%);
}

.user-33 {
  @include circle--third-layer;

  transform: translate(465%, -233%);
}

.user-34 {
  @include circle--third-layer;

  transform: translate(495%, -100%);
}

.user-35 {
  @include circle--third-layer;

  transform: translate(506%, 35%);
}

.user-36 {
  @include circle--third-layer;

  transform: translate(470%, 170%);
}

.user-37 {
  @include circle--third-layer;

  transform: translate(408%, 289%);
}

.user-38 {
  @include circle--third-layer;

  transform: translate(302%, 385%);
}

.user-39 {
  @include circle--third-layer;

  transform: translate(160%, 446%);
}

.user-40 {
  @include circle--third-layer;

  transform: translate(15%, 470%);
}

.user-41 {
  @include circle--third-layer;

  transform: translate(-135%, 476%);
}

/* 21st circle */
.user-42 {
  @include circle--third-layer;

  transform: translate(-285%, 450%);
}

.user-43 {
  @include circle--third-layer;

  transform: translate(-415%, 370%);
}

/* 23rd circle */
.user-44 {
  @include circle--third-layer;

  transform: translate(-511%, 260%);
}

/* 24th circle */
.user-45 {
  @include circle--third-layer;

  transform: translate(-579%, 123%);
}
