.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

.img {
  width: inherit;
  height: inherit;
}

.circle-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.circle {
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.user-0 {
  background-color: red;
  height: 150px;
  width: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.user-1 {
  background-color: blue;
  height: 100px;
  width: 100px;
  transform: translate(-120%, -170%);
}

.user-2 {
  background-color: green;
  height: 100px;
  width: 100px;
  transform: translate(20%, -170%);
  /* transform: translate(-50%, -190%); */
}

.user-3 {
  background-color: grey;
  height: 100px;
  width: 100px;
  transform: translate(90%, -60%);
}

.user-4 {
  background-color: black;
  height: 100px;
  width: 100px;
  transform: translate(60%, 50%);
}

.user-5 {
  background-color: yellow;
  height: 100px;
  width: 100px;
  transform: translate(-50%, 90%);
}

.user-6 {
  background-color: aquamarine;
  height: 100px;
  width: 100px;
  transform: translate(-160%, 50%);
}

.user-7 {
  background-color: plum;
  height: 100px;
  width: 100px;
  transform: translate(-190%, -60%);
}