.padded {
  // padding-left: 25px;
  display: inline-block;
  width: 85%;
}

.circular {
  border-radius: 25px;
  background-color: black;
  color: white;
  display: inline-block;
  width: 30px;
  text-align: center;
  padding: 5px;
  vertical-align: top;
  font-size: 14px;
  margin-right: 15px;
}

.styled-container {
  width: 65%;
}

.styled-tile {
  padding: 40px;
}

.body {
  padding: 30px 120px;
}

.loader {
  margin-bottom: 50px;
  display: block;
}

.body2 {
  margin: 60px 0px !important;
}

.img-filler {
  width: 300px;
  height: 150px;
  display: block;
  flex-basis: auto;
  background-color: #d4d0d04f;
}

.styled-title {
    margin-top: 15px;
}

.title {
    margin-bottom: 15px;
}

.hidden {
    visibility: hidden;
};

.remove {
    display: none !important;
}

.block {
    display: block;
    margin: auto;
}

.tableForm {
  background-color: #3582a7;
  padding: 1.5rem 0.75rem !important;
}

.formBtn {
  // margin-left: 20px !important;
  color: #3582a7 !important;
}

.formInput {
  // margin-left: 20px !important;
  padding: 0px 25px !important;
}

.formTile {
  margin-bottom: 0px !important;
}

.table {
  margin-top: -1.5rem;
  thead {
    background-color: #f0f7fa;
  }
  th {
    padding: 1em;
  }
  th:first-child {
    padding-left: 150px !important;
  }
  th:last-child {
    padding-left: 40px !important;
  }
  td {
    padding: 25px;
  }
  td:first-child {
    padding-left: 150px !important;
  }
  td:last-child {
    padding-left: 40px !important;
  }
}

.tag {
  border-radius: 25px !important;
}

.tableHeader {
  margin: 60px 0px 0px !important;
}

.tableSubtitle {
  margin: 0px 0px 20px !important;
}