@import "../../../../styles/_colors.module.scss";

.container {
  box-shadow: 1px 3px 6px rgba(149, 165, 177, 0.3);
}

.language:first-child {
  background-color: $blue-50 !important;
  color: $blue-700 !important;
}

.language {
  @media only screen and (max-width: 768px) {
    max-width: 250px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  object-fit: cover;
}

.vl {
  border-left: 1px solid $gray-600;
  height: 20px;
}

.title {
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap !important;
  }
}

.preview-link-icon {
  width: 18px;
  height: 18px;
}

.checkbox {
  margin-right: 10px;
}
