{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "rules": {
    "indent": [ "warn", 2 ],
    "max-len": [ "warn", 140, 2 ],
    "no-underscore-dangle": "off",
    "object-curly-newline": [ "error", { "minProperties": 5, "consistent": true } ]
  }
}
