.button-collections {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none;
}

.button-suggested {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: none;
}