.card {
  background-color: #FBFBFB;
  box-shadow: 0px 2px 10px 0px #00000012;
  padding: 12px 19px;
}

.card-title {
  display: flex;

  align-items: center;
  color: #73839C;
  font-size: 10px;
  line-height: 12px;
}

.card-subtitle {
  font-size: 28px;
}
