@use 'variables' as v;

:root {
  --color-border: #{v.$color-light-border};

  --color-sema-bg: #{v.$color-light-bg};
  --color-sema-border: #{v.$color-light-border};

  --color-text-input-bg: #{v.$color-light-bg};
  --color-text-input-border: #{v.$color-light-border};
  --color-text-input-font: #{v.$color-light-font};

  --color-tags-background: #{v.$color-light-tags-container-bg};
  --color-tags-border: #{v.$color-light-tags-container-border};
  --color-tags-header-bg: #{v.$color-light-tags-header-bg};
  --color-tags-header-border: #{v.$color-light-tags-header-border};
  --color-tags-header-font: #{v.$color-light-tags-header-font};

  --color-tag-font: #{v.$color-light-tag-font};
  --color-tag-bg: #{v.$color-light-tag-bg};
  --color-tag-border: #{v.$color-light-tag-border};
  --color-tag-border-selected: #{v.$color-light-tag-selected-border};

  --color-selected-tag-font: #{v.$color-light-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-light-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-light-add-tags-bg};
  --color-add-tags-font: #{v.$color-light-add-tags-font};
  --color-add-tags-border: #{v.$color-light-add-tags-border};

  --color-title: #{v.$color-light-title};
  --color-source-name: #{v.$color-font-dark-1};
  --color-content: #{v.$color-light-content};

  --color-suggestion-container: #{v.$color-light-btn-container};
  --color-credit-img: invert(0);

  --color-btn-border: #{v.$color-light-btn-border};

  --color-scroll-bg: #{v.$color-light-scroll-bg};
  --color-scroll-border: #{v.$color-light-scroll-border};

  --color-form-border: #{v.$color-light-form-border};

  --color-highlight: #{v.$color-light-highlight};

  --color-emoji-bg: #{v.$color-light-emoji-bg};
  --color-emoji-font: #{v.$color-light-emoji-font};
  --color-emoji-bg-hover: #{v.$color-light-emoji-bg-hover};
  --color-emoji-font-hover: #{v.$color-light-emoji-font-hover};

  --color-reminder-border: #{v.$color-light-reminder-border};
  --color-reminder-font: #{v.$color-light-reminder-font};
  --color-reminder-github-bg: #{v.$color-light-reminder-sign-in-btn-bg};
  --color-reminder-github-font: #{v.$color-light-reminder-sign-in-btn-font};

  --color-hover-comment: #{v.$color-light-comment-hover};
  --color-sourceUrl-text: #{v.$color-light-tags-header-font};
  --color-tags-container: #{v.$color-tag-container-light};
  --color-suggestion-source: #{v.$color-light-comment-source};
  --color-suggestion-title: #{v.$color-light-comment-title};
  --color-comment-text: #{v.$color-light-comment-text};

  --color-background-create-snippet-modal: #{v.$color-light-background-create-snippet-modal};
  --color-title-create-snippet-modal: #{v.$color-light-title-create-snippet-modal};
  --color-font-create-snippet-modal: #{v.$color-light-font-create-snippet-modal};
  --color-border-create-snippet-modal: #{v.$color-light-border-create-snippet-modal};

  --color-snippets-suggestion-title: #{v.$color-light-title-suggestions-placeholder};
  --color-snippets-suggestion-text: #{v.$color-light-text-suggestions-placeholder};

  --color-snippets-no-results-title: #{v.$color-light-title-no-results};
  --color-snippets-no-results-link: #{v.$color-light-link-no-results};

  --color-suggestion-tag-container-text: #{v.$color-light-tag-container-text};
  --color-suggestion-tag-container-border: #{v.$color-light-tag-container-border};
  --color-suggestion-tag-container-bg:  #{v.$color-light-tag-container-bg};

  --сolor-logout-modal-bg: #{v.$color-light-logout-bg};
}

.theme--light_high_contrast {
  --color-border: #{v.$color-light-border};

  --color-sema-bg: #{v.$color-light-bg};
  --color-sema-border: #{v.$color-light-border};

  --color-text-input-bg: #{v.$color-light-bg};
  --color-text-input-border: #{v.$color-light-border};
  --color-text-input-font: #{v.$color-light-font};

  --color-tags-background: #{v.$color-light-high-contrast-tags-container-bg};
  --color-tags-border: #{v.$color-light-high-contrast-tags-container-border};
  --color-tags-header-bg: #{v.$color-light-high-contrast-tags-header-bg};
  --color-tags-header-border: #{v.$color-light-high-contrast-tags-header-border};
  --color-tags-header-font: #{v.$color-light-high-contrast-tags-header-font};

  --color-tag-font: #{v.$color-light-high-contrast-tag-font};
  --color-tag-bg: #{v.$color-light-high-contrast-tag-bg};
  --color-tag-border: #{v.$color-light-high-contrast-tag-border};

  --color-selected-tag-font: #{v.$color-light-high-contrast-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-light-high-contrast-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-light-high-contrast-add-tags-bg};
  --color-add-tags-font: #{v.$color-light-high-contrast-add-tags-font};
  --color-add-tags-border: #{v.$color-light-high-contrast-add-tags-border};

  --color-title: #{v.$color-light-title};
  --color-source-name: #{v.$color-font-dark-1};
  --color-content: #{v.$color-light-content};

  --color-suggestion-container: #{v.$color-light-btn-container};
  --color-credit-img: invert(0);

  --color-btn-border: #{v.$color-light-btn-border};

  --color-scroll-bg: #{v.$color-light-scroll-bg};
  --color-scroll-border: #{v.$color-light-scroll-border};

  --color-form-border: #{v.$color-light-form-border};

  --color-highlight: #{v.$color-light-highlight};

  --color-emoji-bg: #{v.$color-light-high-contrast-emoji-bg};
  --color-emoji-font: #{v.$color-light-high-contrast-emoji-font};
  --color-emoji-bg-hover: #{v.$color-light-high-contrast-emoji-bg-hover};
  --color-emoji-font-hover: #{v.$color-light-high-contrast-emoji-font-hover};

  --color-reminder-border: #{v.$color-light-reminder-border};
  --color-reminder-font: #{v.$color-light-reminder-font};
  --color-reminder-github-bg: #{v.$color-light-reminder-sign-in-btn-bg};
  --color-reminder-github-font: #{v.$color-light-reminder-sign-in-btn-font};

  --color-hover-comment: #{v.$color-light-high-contrast-comment-hover};
  --color-sourceUrl-text: #{v.$color-light-tags-header-font};
  --color-tags-container: #{v.$color-tag-container-light};
  --color-suggestion-source: #{v.$color-light-high-contrast-comment-source};
  --color-suggestion-title: #{v.$color-light-high-contrast-comment-title};
  --color-comment-text: #{v.$color-light-high-contrast-comment-text};

  --color-background-create-snippet-modal: #{v.$color-light-background-create-snippet-modal};
  --color-title-create-snippet-modal: #{v.$color-light-title-create-snippet-modal};
  --color-font-create-snippet-modal: #{v.$color-light-font-create-snippet-modal};
  --color-border-create-snippet-modal: #{v.$color-light-border-create-snippet-modal};

  --color-snippets-suggestion-title: #{v.$color-light-high-contrast-title-suggestions-placeholder};
  --color-snippets-suggestion-text: #{v.$color-light-high-contrast-text-suggestions-placeholder};

  --color-snippets-no-results-title: #{v.$color-light-high-contrast-title-no-results};
  --color-snippets-no-results-link: #{v.$color-light-high-contrast-link-no-results};

  --color-suggestion-tag-container-text: #{v.$color-light-high-contrast-tag-container-text};
  --color-suggestion-tag-container-border: #{v.$color-light-high-contrast-tag-container-border};
  --color-suggestion-tag-container-bg:  #{v.$color-light-high-contrast-tag-container-bg};

  --сolor-logout-modal-bg: #{v.$color-light-high-contrast-logout-bg};
}

.theme--dark {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-bg};
  --color-sema-border: #{v.$color-dark-border};

  --color-text-input-bg: #{v.$color-dark-bg};
  --color-text-input-border: #{v.$color-dark-border};
  --color-text-input-font: #{v.$color-dark-font};

  --color-tags-border: #{v.$color-dark-tags-container-border};
  --color-tags-background: #{v.$color-dark-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-tags-header-bg};
  --color-tags-header-border: #{v.$color-dark-tags-header-border};
  --color-tags-header-font: #{v.$color-dark-tags-header-font};

  --color-tag-font: #{v.$color-dark-tag-font};
  --color-tag-bg: #{v.$color-dark-tag-bg};
  --color-tag-border: #{v.$color-dark-tag-border};
  --color-tag-border-selected: #{v.$color-dark-tag-selected-border};

  --color-selected-tag-font: #{v.$color-dark-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-add-tags-border};

  --color-title: #{v.$color-dark-title};
  --color-content: #{v.$color-dark-content};

  --color-suggestion-container: #{v.$color-dark-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-btn-border};

  --color-scroll-bg: #{v.$color-dark-scroll-bg};
  --color-scroll-border: #{v.$color-dark-scroll-border};

  --color-form-border: #{v.$color-dark-form-border};

  --color-highlight: #{v.$color-dark-highlight};

  --color-emoji-bg: #{v.$color-dark-emoji-bg};
  --color-emoji-font: #{v.$color-dark-emoji-font};
  --color-emoji-bg-hover: #{v.$color-dark-emoji-bg-hover};
  --color-emoji-font-hover: #{v.$color-dark-emoji-font-hover};

  --color-reminder-border: #{v.$color-dark-reminder-border};
  --color-reminder-font: #{v.$color-dark-reminder-font};

  --color-reminder-github-bg: #{v.$color-dark-reminder-sign-in-btn-bg};
  --color-reminder-github-font: #{v.$color-dark-reminder-sign-in-btn-font};

  --color-hover-comment: #{v.$color-dark-comment-hover};
  --color-sourceUrl-text: #{v.$color-dark-tag-font};
  --color-tags-container: #{v.$color-tag-container-dark};
  --color-suggestion-source: #{v.$color-dark-comment-source};
  --color-suggestion-title: #{v.$color-dark-comment-title};
  --color-comment-text: #{v.$color-dark-comment-text};

  --color-background-create-snippet-modal: #{v.$color-dark-background-create-snippet-modal};
  --color-title-create-snippet-modal: #{v.$color-dark-title-create-snippet-modal};
  --color-font-create-snippet-modal: #{v.$color-dark-font-create-snippet-modal};
  --color-border-create-snippet-modal: #{v.$color-dark-border-create-snippet-modal};

  --color-snippets-suggestion-title: #{v.$color-dark-title-suggestions-placeholder};
  --color-snippets-suggestion-text: #{v.$color-dark-text-suggestions-placeholder};

  --color-snippets-no-results-title: #{v.$color-dark-title-no-results};
  --color-snippets-no-results-link: #{v.$color-dark-link-no-results};

  --color-suggestion-tag-container-text: #{v.$color-dark-tag-container-text};
  --color-suggestion-tag-container-border: #{v.$color-dark-tag-container-border};
  --color-suggestion-tag-container-bg:  #{v.$color-dark-tag-container-bg};

  --сolor-logout-modal-bg: #{v.$color-dark-logout-bg};
}

.theme--dark-dimmed {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-dim-bg};
  --color-sema-border: #{v.$color-dark-dim-border};

  --color-text-input-bg: #{v.$color-dark-dim-bg};
  --color-text-input-border: #{v.$color-dark-dim-border};
  --color-text-input-font: #{v.$color-dark-dim-font};

  --color-tags-border: #{v.$color-dark-dim-tags-container-border};
  --color-tags-background: #{v.$color-dark-dim-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-dim-tags-header-bg};
  --color-tags-header-border: #{v.$color-dark-dim-tags-header-border};
  --color-tags-header-font: #{v.$color-dark-dim-tags-header-font};

  --color-tag-font: #{v.$color-dark-dim-tag-font};
  --color-tag-bg: #{v.$color-dark-dim-tag-bg};
  --color-tag-border: #{v.$color-dark-dim-tag-border};
  --color-tag-border-selected: #{v.$color-dark-dim-tag-selected-border};

  --color-selected-tag-font: #{v.$color-dark-dim-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-dim-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-dim-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-dim-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-dim-add-tags-border};

  --color-title: #{v.$color-dark-dim-title};
  --color-content: #{v.$color-dark-dim-content};

  --color-suggestion-container: #{v.$color-dark-dim-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-dim-btn-border};

  --color-scroll-bg: #{v.$color-dark-dim-scroll-bg};
  --color-scroll-border: #{v.$color-dark-dim-scroll-border};

  --color-form-border: #{v.$color-dark-dim-form-border};

  --color-highlight: #{v.$color-dark-dim-highlight};

  --color-emoji-bg: #{v.$color-dark-dim-emoji-bg};
  --color-emoji-font: #{v.$color-dark-dim-emoji-font};
  --color-emoji-bg-hover: #{v.$color-dark-dim-emoji-bg-hover};
  --color-emoji-font-hover: #{v.$color-dark-dim-emoji-font-hover};

  --color-reminder-border: #{v.$color-dark-dim-reminder-border};
  --color-reminder-font: #{v.$color-dark-dim-reminder-font};

  --color-reminder-github-bg: #{v.$color-dark-dim-reminder-sign-in-btn-bg};
  --color-reminder-github-font: #{v.$color-dark-dim-reminder-sign-in-btn-font};

  --color-hover-comment: #{v.$color-dark-dim-comment-hover};
  --color-sourceUrl-text: #{v.$color-dark-tag-font};
  --color-tags-container: #{v.$color-tag-container-dark};
  --color-suggestion-source: #{v.$color-dark-dim-comment-source};
  --color-suggestion-title: #{v.$color-dark-dim-comment-title};
  --color-comment-text: #{v.$color-dark-dim-comment-text};

  --color-background-create-snippet-modal: #{v.$color-dark-dim-background-create-snippet-modal};
  --color-title-create-snippet-modal: #{v.$color-dark-dim-title-create-snippet-modal};
  --color-font-create-snippet-modal: #{v.$color-dark-dim-font-create-snippet-modal};
  --color-border-create-snippet-modal: #{v.$color-dark-dim-border-create-snippet-modal};

  --color-snippets-suggestion-title: #{v.$color-dark-dim-title-suggestions-placeholder};
  --color-snippets-suggestion-text: #{v.$color-dark-dim-text-suggestions-placeholder};

  --color-snippets-no-results-title: #{v.$color-dark-dim-title-no-results};
  --color-snippets-no-results-link: #{v.$color-dark-dim-link-no-results};

  --color-suggestion-tag-container-text: #{v.$color-dark-dim-tag-container-text};
  --color-suggestion-tag-container-border: #{v.$color-dark-dim-tag-container-border};
  --color-suggestion-tag-container-bg:  #{v.$color-dark-dim-tag-container-bg};

  --сolor-logout-modal-bg: #{v.$color-dark-dim-logout-bg};
}

.theme--dark-high-contrast {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-high-contrast-bg};
  --color-sema-border: #{v.$color-dark-high-contrast-border};

  --color-text-input-bg: #{v.$color-dark-high-contrast-bg};
  --color-text-input-border: #{v.$color-dark-high-contrast-border};
  --color-text-input-font: #{v.$color-dark-high-contrast-font};

  --color-tags-border: #{v.$color-dark-high-contrast-tags-container-border};
  --color-tags-background: #{v.$color-dark-high-contrast-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-high-contrast-tags-header-bg};
  --color-tags-header-border: #{v.$color-dark-high-contrast-tags-header-border};
  --color-tags-header-font: #{v.$color-dark-high-contrast-tags-header-font};

  --color-tag-font: #{v.$color-dark-high-contrast-tag-font};
  --color-tag-bg: #{v.$color-dark-high-contrast-tag-bg};
  --color-tag-border: #{v.$color-dark-high-contrast-tag-border};
  --color-tag-border-selected: #{v.$color-dark-high-contrast-tag-selected-border};

  --color-selected-tag-font: #{v.$color-dark-high-contrast-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-high-contrast-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-high-contrast-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-high-contrast-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-high-contrast-add-tags-border};

  --color-title: #{v.$color-dark-high-contrast-title};
  --color-content: #{v.$color-dark-high-contrast-content};

  --color-suggestion-container: #{v.$color-dark-high-contrast-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-high-contrast-btn-border};

  --color-scroll-bg: #{v.$color-dark-high-contrast-scroll-bg};
  --color-scroll-border: #{v.$color-dark-high-contrast-scroll-border};

  --color-form-border: #{v.$color-dark-high-contrast-form-border};

  --color-highlight: #{v.$color-dark-high-contrast-highlight};

  --color-emoji-bg: #{v.$color-dark-high-contrast-emoji-bg};
  --color-emoji-font: #{v.$color-dark-high-contrast-emoji-font};
  --color-emoji-bg-hover: #{v.$color-dark-high-contrast-emoji-bg-hover};
  --color-emoji-font-hover: #{v.$color-dark-high-contrast-emoji-font-hover};

  --color-reminder-border: #{v.$color-dark-high-contrast-reminder-border};
  --color-reminder-font: #{v.$color-dark-high-contrast-reminder-font};

  --color-reminder-github-bg: #{v.$color-dark-high-contrast-reminder-sign-in-btn-bg};
  --color-reminder-github-font: #{v.$color-dark-high-contrast-reminder-sign-in-btn-font};

  --color-hover-comment: #{v.$color-dark-high-contrast-comment-hover};
  --color-sourceUrl-text: #{v.$color-dark-tag-font};
  --color-tags-container: #{v.$color-tag-container-dark};
  --color-suggestion-source: #{v.$color-dark-high-contrast-comment-source};
  --color-suggestion-title: #{v.$color-dark-high-contrast-comment-title};
  --color-comment-text: #{v.$color-dark-high-contrast-comment-text};

  --color-background-create-snippet-modal: #{v.$color-dark-high-contrast-background-create-snippet-modal};
  --color-title-create-snippet-modal: #{v.$color-dark-high-contrast-title-create-snippet-modal};
  --color-font-create-snippet-modal: #{v.$color-dark-high-contrast-font-create-snippet-modal};
  --color-border-create-snippet-modal: #{v.$color-dark-high-contrast-border-create-snippet-modal};


  --color-snippets-suggestion-title: #{v.$color-dark-high-contrast-title-suggestions-placeholder};
  --color-snippets-suggestion-text: #{v.$color-dark-high-contrast-text-suggestions-placeholder};

  --color-snippets-no-results-title: #{v.$color-dark-high-contrast-title-no-results};
  --color-snippets-no-results-link: #{v.$color-dark-high-contrast-link-no-results};

  --color-suggestion-tag-container-text: #{v.$color-dark-high-contrast-tag-container-text};
  --color-suggestion-tag-container-border: #{v.$color-dark-high-contrast-tag-container-border};
  --color-suggestion-tag-container-bg:  #{v.$color-dark-high-contrast-tag-container-bg};

  --сolor-logout-modal-bg: #{v.$color-dark-high-contrast-logout-bg};
}

.sema {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  // background-color: #fafbfc;
  background-color: var(--color-sema-bg);
  padding: 1rem 0.5rem;
  // border-left: 1px solid rgb(225, 228, 232);
  // border-right: 1px solid rgb(225, 228, 232);
  border-left: 1px solid var(--color-sema-border);
  border-right: 1px solid var(--color-sema-border);
  height: 70px;
}

.sema img {
  height: 20px;
}

.sema-emoji {
  font-size: 1rem;
}

.sema-dropdown-menu {
  border: 1px solid var(--color-border);
}

.sema-dropdown-menu.suggestion-modal {
  background-color: var(--color-text-input-bg);
}

.sema-tag-container {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: row;
  margin: auto;
}

.sema-tags-content {
  height: 2.8em;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: row-reverse;
}

/* ss */
.sema-tag-container.hidden-scrollbar::-webkit-scrollbar {
  height: 12px;
  display: none;
}

.sema-tag-container::-webkit-scrollbar {
  height: 12px;
}

.sema-tag-container::-webkit-scrollbar-track {
  // background: #f5f5f5;
  background: var(--color-scroll-border);
  width: 5px;
}

.sema-tag-container::-webkit-scrollbar-thumb {
  height: 12px;
  background-color: var(--color-scroll-bg);
  border-radius: 50px;
  border: 3px solid var(--color-scroll-border);
}

.sema-add-tags {
  border: var(--color-add-tags-border);
  background-color: var(--color-add-tags-bg);
  color: var(--color-add-tags-font);
}

.sema-add-tags:hover {
  color: var(--color-add-tags-font);
}

.sema-add-tags:focus {
  color: var(--color-add-tags-font);
}

.tagsContainer {
  display: flex;
  flex-direction: column;

  span {
    cursor: pointer;
  }
}

.reaction-selection-wrapper {
  background-color: var(--color-sema-bg);
}

button.sema-reaction-selection {
  border: unset;
  background: transparent;
  height: auto;
  padding-top: 6px;
}

.expandedEmojis {
  display: none;
}

.suggestion-modal {
  width: 100%;
  max-height: 313px;
  overflow: hidden;
  border: none;
  margin-top: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  color: var(--color-text-input-font);
  border-color: var(--color-text-input-border);
  pointer-events: all;

  &.view-mode {
    max-height: fit-content;
  }

  .sema-dropdown-content {
    background-color: var(--color-text-input-bg);
    color: var(--color-text-input-font);
    box-shadow: none;
  }

  .sema-dropdown-item {
    margin-top: 10px;
    border: none;
    box-shadow: none;
    background-color: var(--color-sema-bg);
  }
}

.suggestion-title {
  display: block;
  margin: 8px 0 7px;
  padding-top: 11px;
  overflow: hidden;
  line-height: 20px;
  letter-spacing: -0.15 px;
  color: var(--color-suggestion-title);
  position: relative;
  &.view-mode {
    padding: 0;
  }
}

.suggestion-name {
  font-weight: 600;
  font-size: 16px;
}

.suggestion-source {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.04em;
  color: var(--color-suggestion-source);
  margin-left: 8px;
}

.suggestion-comment-container {
  border-bottom: 1px solid var(--color-tags-container);
  height: 101px;
}

.suggestion-comment {
  min-height: 85px;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding-left: 8px;

  .active-buttons-container {
    display: none;
  }

  .active-buttons-container.active-buttons-container-selected {
    display: block;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 7px;
    padding-left: 8px;
    background: var(--color-hover-comment);
  }


  &:hover {
    background: var(--color-hover-comment);
    border-radius: 4px;
    cursor: pointer;

    .active-buttons-container {
      display: block;
      width: fit-content;
      position: absolute;
      right: 10px;
      top: 7px !important;
      padding-left: 8px;
      background: var(--color-hover-comment);
    }
  }
}

.suggestion-comment-active {
  min-height: 85px;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding-left: 8px;

  background: var(--color-hover-comment);
  border-radius: 4px;
  cursor: pointer;

  .active-buttons-container {
    display: block;
    width: fit-content;
    position: absolute;
    top: 3px;
    right: 10px;
  }
}

.suggestion-comment-pending {
  outline: 1px solid #FFA20F;
  margin-left: 2px;
  width: 99%;
  padding-left: 10px;
}

.sema-button.sema-is-inverted.sema-is-small:not(.viewed) {
  background: var(--color-hover-comment);
}

.suggestion-comment-no-hover {
  min-height: 85px;
  box-sizing: border-box;
  margin-bottom: 8px;
  overflow: inherit;
}

.suggestion-content-truncated-container {
  padding-bottom: 8px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--color-suggestion-title);
}

.suggestion-comment-text {
  color: var(--color-comment-text);
}

.sema-button.sema-button--save-comment {
  background: v.$color-github-button-blue;
  font-size: 12px;
  padding: 2px 8px;
  line-height: 16px;
  height: fit-content;
  color: #ffffff;
  border: 0;
  border-radius: 3px;

  &:hover {
    color: #ffffff;
  }

  span {
    margin-right: 4px;
    transform: rotate(90deg);
    font-size: 16px;
  }
}

.suggestion-content-truncated {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  ul {
    list-style-position: outside;
    margin-left: 15px;
  }
}

.suggestion-author {
  font-size: 12px;
  color: var(--color-suggestion-source);
  font-weight: 400;
}

.suggestion-soucreUrl {
  text-decoration-style: solid;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: var(--color-sourceUrl-text);
}

.tags-container {
  height: 23px;
  background: var(--color-tags-container);
  border-radius: 4px;
  margin-right: 8px;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;

  &.suggestion-tag-container {
    background-color: var(--color-suggestion-tag-container-bg) !important;
    color: var(--color-suggestion-tag-container-text) !important;
    border: var(--color-suggestion-tag-container-border) !important;
  }
}

.source-icon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}

.dashed-line {
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  border-top: 0.5px dashed var(--color-tags-container);
  background-color: var(--color-sema-bg);
  padding-bottom: 16px;
}

.tags-wrapper {
  background-color: var(--color-sema-bg);
}

.note-icon {
  width: 15px;
  height: 21px;
}

.suggestion-buttons {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  // background: #fbfbfb;
  background: var(--color-suggestion-container);
  .sema-button {
    // border-color: var(--color-btn-border);
    background: var(--color-suggestion-container);
    color: var(--color-title);
  }
}

.sema-search pre {
  white-space: pre-wrap;
}

.sema-search pre h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  line-height: 1em !important;
}

/* highlight start */

.sema-shadow-root {
  display: inline !important;
  position: relative !important;
  pointer-events: none;
}

.sema-mirror {
  visibility: hidden !important;
  display: block !important;
  position: absolute !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.sema-mirror-content {
  display: block !important;
  position: static !important;
  white-space: pre-wrap !important;
  border-color: transparent !important;
  overflow: auto !important;
  overflow-y: hidden !important;
}

.sema-highlighter {
  display: inline;
  overflow: hidden;
  position: absolute;
}

.sema-highlighter-intermediate {
  overflow: hidden;
  position: relative;
  display: block;
}

.sema-highlighter-container {
  display: block;
  position: absolute;
}

.sema-highlighter-content {
  position: absolute !important;
  display: block;
  border-radius: 4px;
  background: var(--color-highlight);
}

.sema-footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
}

.sema-emoji-container {
  margin: auto;
  height: 2.8em;
  padding-right: 1em;

  .sema-dropdown-trigger .sema-button {
    padding-right: 20px;
    color: var(--color-title);

    :after {
      content: '';
      position: absolute;
      right: 4px;
      top: 11px;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      background: transparent;
      border-left: 4px solid var(--color-title);
      border-bottom: 4px solid transparent;
    }
  }

  .sema-button {
    position: relative;
    background: none;
    border: 0;

    &:active {
      background: rgba(0, 129, 167, 0.05);
    }
  }
  .sema-reaction-selection {
    border: unset;
    background: transparent;
    font-size: 14px;
  }

  .sema-dropdown-item {
    margin-bottom: 4px;
    margin-top: 0;
    color: var(--color-emoji-font);

    &:hover {
      // background: #0081a70d;
      color: var(--color-emoji-font-hover);
      background-color: var(--color-emoji-bg-hover);
    }
  }

  .sema-dropdown-menu {
    border: none;
    padding: 0;
    left: -8px;
    top: -8px;
  }

  .sema-dropdown-content {
    position: relative;
    top: -4px;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 0;
    overflow: hidden;
    margin: 0;
    background: var(--color-emoji-bg);
  }
}

.sema-dropdown-container {
  margin: auto;

  .sema-button {
    color: var(--color-title);
    background-color: var(--color-sema-bg);
    border-color: var(--color-btn-border);
  }
}

.sema-comment-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &--img {
    width: 160px;
  }

  &--title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  &--link {
    margin: 8px 0;
    font-size: 16px;
    line-height: 19px;
    color: #508bff;
  }
}

.suggested-snippets-ph {
  &--title {
    color: var(--color-snippets-suggestion-title) !important;
  }

  &--text {
    color: var(--color-snippets-suggestion-text) !important;
  }
}

.no-results-ph {
  &--title {
    color: var(--color-snippets-no-results-title) !important;
  }

  &--link {
    color: var(--color-snippets-no-results-link) !important;
  }
}

.sema-is-oblong {
  border-radius: 25px;
}

.sema-logo__alt {
  position: relative;
  margin-left: auto;
  display: flex;
  padding: 4px 8px;
  width: fit-content;
  line-height: 18px;
  font-size: 10px;
  border-radius: 21px;
  // color: #4a4a4a;
  // background: rgba(183, 183, 183, 0.1);
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input-font);
}

.sema-dropdown-footer {
  position: relative;
  margin-top: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input-font);
}

.sema-input {
  border-color: var(--color-text-input-border);
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input-font);
}
.sema-input::placeholder {
  color: var(--color-content);
}

.suggestion-content-truncated-container {
  //background-color: var(--color-text-input-bg);
  color: var(--color-content);
  border-color: var(--color-text-input-border);
}

.tags-modal {
  display: flex;

  &--column {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &--separator {
    width: 26px;
    margin: 21px 0 19px;
    border: 1px dashed #BFCBD3;
  }

  .sema-tag {
    margin-bottom: 8px;
    margin-top: 10px;
    font-style: italic;
    border: var(--color-tag-border) !important;
    &.tag-selected {
      border: var(--color-tag-border-selected) !important;
    }
  }
}

.tags-selection {
  width: auto;
  border: 1px solid var(--color-tags-border);
  padding-top: 0;
  margin-top: 4px;
  right: 0;
  left: auto;

  .sema-dropdown-content {
    background-color: var(--color-tags-background);
    padding-bottom: 0;
    margin: 0;
    width: fit-content;
  }

  .sema-dropdown-item {
    margin: 0;
    padding: 0 10px 2px;
  }
}

.sema-tag {
  background-color: var(--color-tag-bg) !important;
  color: var(--color-tag-font) !important;
  width: fit-content;
}

.sema-tag.sema-is-dark {
  /* color when tag is selected */
  background-color: var(--color-selected-tag-bg) !important;
  color: var(--color-selected-tag-font) !important;
}

.sema-credit-img {
  filter: var(--color-credit-img);
}

.sema-title {
  color: var(--color-title);
}

.sema-subtitle {
  color: var(--color-content);
}

.sema-login-bar {
  display: flex;
  height: auto;
  align-items: center;

  .sema-offline-badge {
    display: flex;
    align-items: center;
    background: rgba(246, 224, 224, 1);
    padding: 3px 4px;
    border-radius: 4px;
    margin-right: 6px;
  }

  .sema-offline-label {
    color: rgba(222, 54, 23, 1);
    margin-left: 3px;
    font-size: 12px;
  }

  .sema-login-link {
    text-decoration: underline;
    font-size: 12px;
  }

  &--separator {
    height: 16px;
    width: 1px;
    background: #909AA4;
    margin: 0 10px;
  }
}

.login-button {
  // background-color: var(--color-text-input-bg);
  // color: var(--color-text-input-font);
  background-color: #00779a;
  border-color: transparent !important;
  color: #fff !important;
  box-shadow: 4px 4px 0 rgb(229 42 145 / 10%);
}

.suggestion-header {
  position: sticky;
  top: 0;
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input-font);
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .sema-button {
    background-color: var(--color-text-input-bg);
    color: var(--color-text-input-font);
  }
}

.suggestion-guide-link {
  margin-top: 8px;
  display: block;
  color: #192129;
  cursor: pointer;
}

.learn-more-link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--color-title);
  background-color: var(--color-tags-header-bg);
  border-bottom:  var(--color-tags-header-border);
  padding: 10px 20px 14px;

  &--reactions {
    background-color: var(--color-emoji-bg);
  }

  a {
    font-size: 12px;
    font-weight: 600;
    color: #0081A7;
    text-decoration: underline;
  }
}

.suggestion-guide-link-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 6px;
  text-decoration-line: underline;
  color: var(--color-title);
}

.sema-dropdown-content {
  margin-top: 8px;
  padding-top: 0;
}

.sema-dropdown-item {
  margin-top: 6px;
  padding-top: 0;
}

.sema-is-form-bordered {
  border-color: var(--color-form-border);
}

.tags-selection-header {
  display: flex;
  color: var(--color-tags-header-font);
}

#sema-reminder-root {
  background: inherit;
  z-index: 2147483647;
  position: fixed;
  left: calc(95vw - #{v.$reminder-width});
  top: calc(98vh - #{v.$reminder-height});
  border: 1.5px solid var(--color-reminder-border);
  color: var(--color-reminder-font);
}

.reminder-container {
  width: v.$reminder-width;
  height: v.$reminder-height;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.reminder-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.reminder-header > img {
  width: 66px;
}

.reminder-close {
  width: 12px;
  cursor: pointer;
}

.reminder-hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.reminder-screenshots-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 22px;
}

.reminder-screenshot1 {
  position: absolute;
  width: 158px;
  height: 177px;
}

.reminder-screenshot2 {
  position: absolute;
  width: 214px;
  height: 162px;
  left: 128px;
  top: 30px;
}

.reminder-hero > p {
  font-weight: 600;
  font-size: 15px;
  line-height: 19.36px;
  vertical-align: top;
  // color: #394a64;
  color: var(--color-reminder-font);
  text-align: center;
}

.reminder-hero > button {
  margin: 25px 0 10px;
  height: 45px;
  width: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-reminder-github-font);
  border: 2px solid var(--color-reminder-github-font);
  background-color: inherit;
  border-radius: 4px;
}

.reminder-hero > button > span {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.reminder-hero > a {
  color: var(--color-reminder-font);
  text-decoration: underline;
}

.view-suggestion-modal {
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input-font);
}

.no-login-modal-container {
  background-color: var(--сolor-logout-modal-bg);
}

.reminder-hero {
  .no-login-modal-link {
    color: var(--color-snippets-no-results-link);
    font-size: 12px;
    line-height: 15px;
  }

  .no-login-modal-title {
    display: inline-flex;
    gap: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
    color: var(--color-snippets-suggestion-title);
  }

  .no-login-modal-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    color: var(--color-snippets-suggestion-text);
  }
}
