@use 'variables' as v;

:root {
  --color-border: #{v.$color-light-border};

  --color-sema-bg: #{v.$color-light-bg};
  --color-sema-border: #{v.$color-light-border};

  --color-text-input-bg: #{v.$color-light-bg};
  --color-text-input-border: #{v.$color-light-border};
  --color-text-input-font: #{v.$color-light-font};

  --color-tags-background: #{v.$color-light-tags-container-bg};
  --color-tags-border: #{v.$color-light-tags-container-border};
  --color-tags-header-bg: #{v.$color-light-tags-header-bg};
  --color-tags-header-font: #{v.$color-light-tags-header-font};

  --color-tag-font: #{v.$color-light-tag-font};
  --color-tag-bg: #{v.$color-light-tag-bg};

  --color-selected-tag-font: #{v.$color-light-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-light-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-light-add-tags-bg};
  --color-add-tags-font: #{v.$color-light-add-tags-font};
  --color-add-tags-border: #{v.$color-light-add-tags-border};

  --color-title: #{v.$color-light-title};
  --color-source-name: #{v.$color-font-dark-1};
  --color-content: #{v.$color-light-content};

  --color-suggestion-container: #{v.$color-light-btn-container};
  --color-credit-img: invert(0);

  --color-btn-border: #{v.$color-light-btn-border};

  --color-scroll-bg: #{v.$color-light-scroll-bg};
  --color-scroll-border: #{v.$color-light-scroll-border};

  --color-form-border: #{v.$color-light-form-border};

  --color-highlight: #{v.$color-light-highlight};
}

.theme--dark {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-bg};
  --color-sema-border: #{v.$color-dark-border};

  --color-text-input-bg: #{v.$color-dark-bg};
  --color-text-input-border: #{v.$color-dark-border};
  --color-text-input-font: #{v.$color-dark-font};

  --color-tags-border: #{v.$color-dark-tags-container-border};
  --color-tags-background: #{v.$color-dark-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-tags-header-bg};
  --color-tags-header-font: #{v.$color-dark-tags-header-font};

  --color-tag-font: #{v.$color-dark-tag-font};
  --color-tag-bg: #{v.$color-dark-tag-bg};

  --color-selected-tag-font: #{v.$color-dark-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-add-tags-border};

  --color-title: #{v.$color-dark-title};
  --color-content: #{v.$color-dark-content};

  --color-suggestion-container: #{v.$color-dark-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-btn-border};

  --color-scroll-bg: #{v.$color-dark-scroll-bg};
  --color-scroll-border: #{v.$color-dark-scroll-border};

  --color-form-border: #{v.$color-dark-form-border};

  --color-highlight: #{v.$color-dark-highlight};
}

.theme--dark-dimmed {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-dim-bg};
  --color-sema-border: #{v.$color-dark-dim-border};

  --color-text-input-bg: #{v.$color-dark-dim-bg};
  --color-text-input-border: #{v.$color-dark-dim-border};
  --color-text-input-font: #{v.$color-dark-dim-font};

  --color-tags-border: #{v.$color-dark-dim-tags-container-border};
  --color-tags-background: #{v.$color-dark-dim-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-dim-tags-header-bg};
  --color-tags-header-font: #{v.$color-dark-dim-tags-header-font};

  --color-tag-font: #{v.$color-dark-dim-tag-font};
  --color-tag-bg: #{v.$color-dark-dim-tag-bg};

  --color-selected-tag-font: #{v.$color-dark-dim-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-dim-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-dim-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-dim-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-dim-add-tags-border};

  --color-title: #{v.$color-dark-dim-title};
  --color-content: #{v.$color-dark-dim-content};

  --color-suggestion-container: #{v.$color-dark-dim-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-dim-btn-border};

  --color-scroll-bg: #{v.$color-dark-dim-scroll-bg};
  --color-scroll-border: #{v.$color-dark-dim-scroll-border};

  --color-form-border: #{v.$color-dark-dim-form-border};

  --color-highlight: #{v.$color-dark-dim-highlight};
}

.theme--dark-high-contrast {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-high-contrast-bg};
  --color-sema-border: #{v.$color-dark-high-contrast-border};

  --color-text-input-bg: #{v.$color-dark-high-contrast-bg};
  --color-text-input-border: #{v.$color-dark-high-contrast-border};
  --color-text-input-font: #{v.$color-dark-high-contrast-font};

  --color-tags-border: #{v.$color-dark-high-contrast-tags-container-border};
  --color-tags-background: #{v.$color-dark-high-contrast-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-high-contrast-tags-header-bg};
  --color-tags-header-font: #{v.$color-dark-high-contrast-tags-header-font};

  --color-tag-font: #{v.$color-dark-high-contrast-tag-font};
  --color-tag-bg: #{v.$color-dark-high-contrast-tag-bg};

  --color-selected-tag-font: #{v.$color-dark-high-contrast-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-high-contrast-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-high-contrast-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-high-contrast-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-high-contrast-add-tags-border};

  --color-title: #{v.$color-dark-high-contrast-title};
  --color-content: #{v.$color-dark-high-contrast-content};

  --color-suggestion-container: #{v.$color-dark-high-contrast-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-high-contrast-btn-border};

  --color-scroll-bg: #{v.$color-dark-high-contrast-scroll-bg};
  --color-scroll-border: #{v.$color-dark-high-contrast-scroll-border};

  --color-form-border: #{v.$color-dark-high-contrast-form-border};

  --color-highlight: #{v.$color-dark-high-contrast-highlight};
}

.sema {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  // background-color: #fafbfc;
  background-color: var(--color-sema-bg);
  padding: 1rem 0.5rem;
  // border-left: 1px solid rgb(225, 228, 232);
  // border-right: 1px solid rgb(225, 228, 232);
  border-left: 1px solid var(--color-sema-border);
  border-right: 1px solid var(--color-sema-border);
  height: 70px;
}

.sema img {
  height: 20px;
}

.sema-emoji {
  font-size: 1rem;
}

.sema-dropdown-menu {
  border: 1px solid var(--color-border);
}

.sema-tag-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 50px;
  margin: auto;
}

.sema-tags-content {
  height: 2.8em;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

/* ss */
.sema-tag-container.hidden-scrollbar::-webkit-scrollbar {
  height: 12px;
  display: none;
}

.sema-tag-container::-webkit-scrollbar {
  height: 12px;
}

.sema-tag-container::-webkit-scrollbar-track {
  // background: #f5f5f5;
  background: var(--color-scroll-border);
  width: 5px;
}

.sema-tag-container::-webkit-scrollbar-thumb {
  height: 12px;
  background-color: var(--color-scroll-bg);
  border-radius: 50px;
  border: 3px solid var(--color-scroll-border);
}

.sema-add-tags {
  border: var(--color-add-tags-border);
  background-color: var(--color-add-tags-bg);
  color: var(--color-add-tags-font);
}

.sema-add-tags:hover {
  color: var(--color-add-tags-font);
}

.sema-add-tags:focus {
  color: var(--color-add-tags-font);
}

.tagsContainer {
  display: flex;
  flex-direction: column;

  span {
    cursor: pointer;
  }
}

.reaction-selection-wrapper {
  background-color: var(--color-sema-bg);
}

button.sema-reaction-selection {
  border: unset;
  background: transparent;
  height: auto;
  padding-top: 6px;
}

.expandedEmojis {
  display: none;
}

.suggestion-modal {
  width: 384px;
  max-height: 462px;
  overflow: auto;
  border: none;
  margin-top: 2px;
  // background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  color: var(--color-text-input-font);
  border-color: var(--color-text-input-border);
  // background-color: var(--color-text-input-bg);

  .sema-dropdown-content {
    background-color: var(--color-text-input-bg);
    color: var(--color-text-input-font);
    // background: #ffffff;
    box-shadow: none;
  }

  .sema-dropdown-item {
    margin-top: 10px;
    border: none;
    box-shadow: none;
  }
}

.suggestion-title {
  display: block;
  margin-top: 5px;
  overflow: hidden;
  line-height: 16px;
  letter-spacing: -0.15 px;
  color: var(--color-title);
}

.suggestion-name {
  font-weight: 600;
  font-size: 12px;
}

.suggestion-source {
  font-weight: 400;
  font-size: 9px;
  line-height: 10px;
  white-space: nowrap;
  color: var(--color-source-name);
}

.suggestion-content-truncated-container {
  background: #fbfbfb;
  border: 0.5px solid #c4c4c4;
  margin-top: 7px;
  box-sizing: border-box;
  border-radius: 4px;
}

.suggestion-content-truncated {
  margin: 8px 14px 23px 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  ul {
    list-style-position: outside;
    margin-left: 15px;
  }
}

.suggestion-buttons {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  // background: #fbfbfb;
  background: var(--color-suggestion-container);
  .sema-button {
    // border-color: var(--color-btn-border);
    background: var(--color-suggestion-container);
    color: var(--color-title);
  }
}

.sema-search pre {
  white-space: pre-wrap;
}

.sema-search pre h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  line-height: 1em !important;
}

/* highlight start */

.sema-shadow-root {
  display: inline !important;
  position: relative !important;
  pointer-events: none;
}

.sema-mirror {
  visibility: hidden !important;
  display: block !important;
  position: absolute !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.sema-mirror-content {
  display: block !important;
  position: static !important;
  white-space: pre-wrap !important;
  border-color: transparent !important;
  overflow: auto !important;
  overflow-y: hidden !important;
}

.sema-highlighter {
  display: inline;
  overflow: hidden;
  position: absolute;
}

.sema-highlighter-intermediate {
  overflow: hidden;
  position: relative;
  display: block;
}

.sema-highlighter-container {
  display: block;
  position: absolute;
}

.sema-highlighter-content {
  position: absolute !important;
  display: block;
  border-radius: 4px;
  background: var(--color-highlight);
}

.sema-footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
}

.sema-emoji-container {
  margin: auto;
  height: 2.8em;
  padding-right: 1em;

  .sema-dropdown-trigger .sema-button {
    padding-right: 20px;
    color: var(--color-title);

    :after {
      content: '';
      position: absolute;
      right: 4px;
      top: 11px;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      background: transparent;
      border-left: 4px solid #000000;
      border-bottom: 4px solid transparent;
    }
  }

  .sema-button {
    position: relative;
    background: none;
    border: 0;

    &:active {
      background: rgba(0, 129, 167, 0.05);
    }
  }
  .sema-reaction-selection {
    border: unset;
    background: transparent;
    font-size: 14px;
  }

  .sema-dropdown-item {
    margin-bottom: 4px;
    margin-top: 0;

    &:hover {
      background: rgba(0, 129, 167, 0.05);
    }
  }

  .sema-dropdown-menu {
    border: none;
    padding: 0;
    left: -8px;
    top: -8px;
  }

  .sema-dropdown-content {
    position: relative;
    top: -4px;
    border-radius: 10px;
    padding-top: 12px;
    overflow: hidden;
    margin: 0;
  }
}

.sema-dropdown-container {
  margin: auto;

  .sema-button {
    color: var(--color-title);
    background-color: var(--color-sema-bg);
    border-color: var(--color-btn-border);
  }
}

.sema-comment-placeholder {
  text-align: center;
}

.sema-is-oblong {
  border-radius: 25px;
}

.sema-dropdown-footer {
  position: relative;
  margin-left: auto;
  margin-top: 60px;
  display: flex;
  padding: 4px 8px;
  width: fit-content;
  color: #4a4a4a;
  font-size: 10px;
  border-radius: 21px;
  background: rgba(183, 183, 183, 0.1);
}

.sema-input {
  border-color: var(--color-text-input-border);
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input-font);
}
.sema-input::placeholder {
  color: var(--color-content);
}

.suggestion-content-truncated-container {
  background-color: var(--color-text-input-bg);
  color: var(--color-content);
  border-color: var(--color-text-input-border);
}

.tags-selection {
  width: auto;
  border-color: var(--color-tags-border);
  padding-top: 0;
  margin-top: 4px;
  right: 0;
  left: auto;
  .sema-dropdown-content {
    background-color: var(--color-tags-background);
  }
}

.sema-tag {
  background-color: var(--color-tag-bg) !important;
  color: var(--color-tag-font) !important;
  width: fit-content;
}

.sema-tag.sema-is-dark {
  /* color when tag is selected */
  background-color: var(--color-selected-tag-bg) !important;
  color: var(--color-selected-tag-font) !important;
}

.sema-credit-img {
  filter: var(--color-credit-img);
}

.sema-title {
  color: var(--color-title);
}

.sema-subtitle {
  color: var(--color-content);
}

.sema-login-bar {
  display: flex;
  height: auto;
  align-items: center;

  .sema-offline-badge {
    display: flex;
    align-items: center;
    background: rgba(246, 224, 224, 1);
    padding: 3px 4px;
    border-radius: 4px;
    margin-right: 6px;
  }

  .sema-offline-label {
    color: rgba(222, 54, 23, 1);
    margin-left: 3px;
    font-size: 12px;
  }

  .sema-login-link {
    text-decoration: underline;
    font-size: 12px;
  }
}

.login-button {
  // background-color: var(--color-text-input-bg);
  // color: var(--color-text-input-font);
  background-color: #00779a;
  border-color: transparent !important;
  color: #fff !important;
  box-shadow: 4px 4px 0 rgb(229 42 145 / 10%);
}

.suggestion-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sema-dropdown-content {
  margin-top: 8px;
  padding-top: 0;
}

.sema-dropdown-item {
  margin-top: 6px;
  padding-top: 0;
}

.sema-is-form-bordered {
  border-color: var(--color-form-border);
}

.tags-selection-header {
  display: flex;
  background-color: var(--color-tags-header-bg);
  color: var(--color-tags-header-font);
  padding: 10px 20px;
  font-weight: 600;
}
