.sema {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.sema img {
  height: 20px;
}

.sema-emoji {
  font-size: 1rem;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.5);
}

.sema-tag-container {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

#tagsPositiveContainer > span {
  cursor: pointer;
}

#tagsNegativeContainer > span {
  cursor: pointer;
}

.expandedEmojis {
  display: none;
}

.suggestion-modal {
  width: 384px;
  height: 462px;
  overflow: auto;
}

.suggestion-title {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

.suggestion-via {
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  line-height: 16px;
}

.suggestion-content-truncated-container {
  background: #fbfbfb;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
}

.suggestion-content-truncated {
  margin: 8px 14px 23px 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.suggestion-buttons {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  background: #fbfbfb;
}
