@use 'variables' as v;

:root {
  --color-border: #{v.$color-light-border};

  --color-sema-bg: #{v.$color-light-bg};
  --color-sema-border: #{v.$color-light-border};

  --color-text-input-bg: #{v.$color-light-bg};
  --color-text-input-border: #{v.$color-light-border};
  --color-text-input-font: #{v.$color-light-font};

  --color-tags-background: #{v.$color-light-tags-container-bg};
  --color-tags-border: #{v.$color-light-tags-container-border};
  --color-tags-header-bg: #{v.$color-light-tags-header-bg};
  --color-tags-header-font: #{v.$color-light-tags-header-font};

  --color-tag-font: #{v.$color-light-tag-font};
  --color-tag-bg: #{v.$color-light-tag-bg};

  --color-selected-tag-font: #{v.$color-light-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-light-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-light-add-tags-bg};
  --color-add-tags-font: #{v.$color-light-add-tags-font};
  --color-add-tags-border: #{v.$color-light-add-tags-border};

  --color-title: #{v.$color-light-title};
  --color-content: #{v.$color-light-content};

  --color-suggestion-container: #{v.$color-light-btn-container};
  --color-credit-img: invert(0);

  --color-btn-border: #{v.$color-light-btn-border};

  --color-scroll-bg: #{v.$color-light-scroll-bg};
  --color-scroll-border: #{v.$color-light-scroll-border};

  --color-form-border: #{v.$color-light-form-border};

  --color-highlight: #{v.$color-light-highlight};
}

.theme--dark {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-bg};
  --color-sema-border: #{v.$color-dark-border};

  --color-text-input-bg: #{v.$color-dark-bg};
  --color-text-input-border: #{v.$color-dark-border};
  --color-text-input-font: #{v.$color-dark-font};

  --color-tags-border: #{v.$color-dark-tags-container-border};
  --color-tags-background: #{v.$color-dark-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-tags-header-bg};
  --color-tags-header-font: #{v.$color-dark-tags-header-font};

  --color-tag-font: #{v.$color-dark-tag-font};
  --color-tag-bg: #{v.$color-dark-tag-bg};

  --color-selected-tag-font: #{v.$color-dark-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-add-tags-border};

  --color-title: #{v.$color-dark-title};
  --color-content: #{v.$color-dark-content};

  --color-suggestion-container: #{v.$color-dark-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-btn-border};

  --color-scroll-bg: #{v.$color-dark-scroll-bg};
  --color-scroll-border: #{v.$color-dark-scroll-border};

  --color-form-border: #{v.$color-dark-form-border};

  --color-highlight: #{v.$color-dark-highlight};
}

.theme--dark-dimmed {
  --color-border: #{v.$color-light-1};

  --color-sema-bg: #{v.$color-dark-dim-bg};
  --color-sema-border: #{v.$color-dark-dim-border};

  --color-text-input-bg: #{v.$color-dark-dim-bg};
  --color-text-input-border: #{v.$color-dark-dim-border};
  --color-text-input-font: #{v.$color-dark-dim-font};

  --color-tags-border: #{v.$color-dark-dim-tags-container-border};
  --color-tags-background: #{v.$color-dark-dim-tags-container-bg};
  --color-tags-header-bg: #{v.$color-dark-dim-tags-header-bg};
  --color-tags-header-font: #{v.$color-dark-dim-tags-header-font};

  --color-tag-font: #{v.$color-dark-dim-tag-font};
  --color-tag-bg: #{v.$color-dark-dim-tag-bg};

  --color-selected-tag-font: #{v.$color-dark-dim-selected-tag-font};
  --color-selected-tag-bg: #{v.$color-dark-dim-selected-tag-bg};

  --color-add-tags-bg: #{v.$color-dark-dim-add-tags-bg};
  --color-add-tags-font: #{v.$color-dark-dim-add-tags-font};
  --color-add-tags-border: #{v.$color-dark-dim-add-tags-border};

  --color-title: #{v.$color-dark-dim-title};
  --color-content: #{v.$color-dark-dim-content};

  --color-suggestion-container: #{v.$color-dark-dim-btn-container};
  --color-credit-img: invert(1);

  --color-btn-border: #{v.$color-dark-dim-btn-border};

  --color-scroll-bg: #{v.$color-dark-dim-scroll-bg};
  --color-scroll-border: #{v.$color-dark-dim-scroll-border};

  --color-form-border: #{v.$color-dark-dim-form-border};

  --color-highlight: #{v.$color-dark-dim-highlight};
}

.sema {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  // background-color: #fafbfc;
  background-color: var(--color-sema-bg);
  padding: 1rem 0.5rem;
  // border-left: 1px solid rgb(225, 228, 232);
  // border-right: 1px solid rgb(225, 228, 232);
  border-left: 1px solid var(--color-sema-border);
  border-right: 1px solid var(--color-sema-border);
  height: 70px;
}

.sema img {
  height: 20px;
}

.sema-emoji {
  font-size: 1rem;
}

.sema-dropdown-menu {
  border: 1px solid var(--color-border);
}

.sema-tag-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 50px;
  margin: auto;
}

.sema-tags-content {
  height: 2.8em;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

/* ss */
.sema-tag-container.hidden-scrollbar::-webkit-scrollbar {
  height: 12px;
  display: none;
}

.sema-tag-container::-webkit-scrollbar {
  height: 12px;
}

.sema-tag-container::-webkit-scrollbar-track {
  // background: #f5f5f5;
  background: var(--color-scroll-border);
  width: 5px;
}

.sema-tag-container::-webkit-scrollbar-thumb {
  height: 12px;
  // background-color: rgb(168, 168, 168);
  background-color: var(--color-scroll-bg);
  border-radius: 50px;
  border: 3px solid var(--color-scroll-border);
  // border: 3px solid rgb(243, 243, 243);
}

.sema-add-tags {
  // border-style: dashed;
  border: var(--color-add-tags-border);
  background-color: var(--color-add-tags-bg);
  color: var(--color-add-tags-font);
}

.sema-add-tags:hover {
  color: var(--color-add-tags-font);
}

.sema-add-tags:focus {
  color: var(--color-add-tags-font);
}

.tagsPositiveContainer > span {
  cursor: pointer;
}

.tagsNegativeContainer > span {
  cursor: pointer;
}

.reaction-selection-wrapper {
  // background-color: white;
  // border: 1px solid rgb(225, 228, 232);
  background-color: var(--color-sema-bg);
  border: 1px solid var(--color-btn-border);
  border-radius: 34px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
}

.reaction-selection {
  border: unset;
  background: transparent;
}

.expandedEmojis {
  display: none;
}

.suggestion-modal {
  width: 384px;
  max-height: 462px;
  overflow: auto;
}

.suggestion-title {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-title);
}

.suggestion-via {
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  line-height: 16px;
  color: var(--color-content);
}

.suggestion-content-truncated-container {
  background: #fbfbfb;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
}

.suggestion-content-truncated {
  margin: 8px 14px 23px 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.suggestion-buttons {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  // background: #fbfbfb;
  background: var(--color-suggestion-container);
  .sema-button {
    // border-color: var(--color-btn-border);
    background: var(--color-suggestion-container);
    color: var(--color-title);
  }
}

.sema-search pre {
  white-space: pre-wrap;
}

.sema-search pre h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  line-height: 1em !important;
}

/* highlight start */

.sema-shadow-root {
  display: inline !important;
  position: relative !important;
}

.sema-mirror {
  visibility: hidden !important;
  display: block !important;
  position: absolute !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.sema-mirror-content {
  display: block !important;
  position: static !important;
  white-space: pre-wrap !important;
  border-color: transparent !important;
  overflow: auto !important;
}

.sema-highlighter {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.sema-highlighter-content {
  position: absolute !important;
  border-radius: 4px;
  background: var(--color-highlight);
}

.sema-footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
}

.sema-emoji-container {
  margin: auto;
  height: 2.8em;
  padding-right: 1em;

  .sema-button {
    color: var(--color-title);
    background-color: var(--color-sema-bg);
    border-color: var(--color-btn-border);
  }
  .reaction-selection {
    border: unset;
    background: transparent;
  }
}

.sema-dropdown-container {
  margin: auto;

  .sema-button {
    color: var(--color-title);
    background-color: var(--color-sema-bg);
    border-color: var(--color-btn-border);
  }
}

.sema-comment-placeholder {
  text-align: center;
}

.sema-is-oblong {
  border-radius: 25px;
}

.sema-dropdown-footer {
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}

.sema-input {
  border-color: var(--color-text-input-border);
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input-font);
}
.sema-input::placeholder {
  color: var(--color-content);
}

.suggestion-modal {
  border-color: var(--color-text-input-border);
  .sema-dropdown-content {
    background-color: var(--color-text-input-bg);
    color: var(--color-text-input-font);
  }
}

.suggestion-content-truncated-container {
  background-color: var(--color-text-input-bg);
  color: var(--color-content);
  border-color: var(--color-text-input-border);
}

.tags-selection {
  border-color: var(--color-tags-border);
  padding-top: 0;
  margin-top: 4px;
  .sema-dropdown-content {
    background-color: var(--color-tags-background);
  }
  width: 250px;
}

.sema-tag {
  background-color: var(--color-tag-bg) !important;
  color: var(--color-tag-font) !important;
}

.sema-tag.sema-is-dark {
  /* color when tag is selected */
  background-color: var(--color-selected-tag-bg) !important;
  color: var(--color-selected-tag-font) !important;
}

.sema-credit-img {
  filter: var(--color-credit-img);
}

.sema-title {
  color: var(--color-title);
}

.sema-subtitle {
  color: var(--color-content);
}

.login-button {
  // background-color: var(--color-text-input-bg);
  // color: var(--color-text-input-font);
  background-color: #00779a;
  border-color: transparent !important;
  color: #fff !important;
  box-shadow: 4px 4px 0px rgb(229 42 145 / 10%);
}

.suggestion-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-text-input-bg);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sema-button {
    background-color: var(--color-text-input-bg);
    color: var(--color-text-input-font);
  }
}

.sema-dropdown-menu.suggestion-modal {
  margin-top: 4px;
  padding-top: 0px;
}

.sema-dropdown-content {
  margin-top: 8px;
  padding-top: 0px;
}

.sema-dropdown-item {
  margin-top: 6px;
  padding-top: 0px;
}

.sema-is-form-bordered {
  border-color: var(--color-form-border);
}

.tags-selection-header {
  display: flex;
  background-color: var(--color-tags-header-bg);
  color: var(--color-tags-header-font);
  padding: 10px 20px;
  font-weight: 600;
}
