.DS_Store
.env

themis/.env
apollo/.env
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
*.csv
# secrets
secrets.*.js

.idea/

# e2e: logs, test results, package-lock.json
web/e2e-tests/test/results/
web/e2e-tests/allure-results/
web/e2e-tests/package-lock.json
web/e2e-tests/local.log
web/e2e-tests/driver-logs/