version: "2"
services:
  web:
    image: web-dev-i
    build:
      context: .
      dockerfile: .docker/web/Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./web:/usr/app
      - /usr/app/node_modules
    container_name: phoenix.web.sema.local
    networks:
      - sema
  apollo:
    image: apollo-dev-i
    build:
      context: apollo/
      dockerfile: ../.docker/apollo/Dockerfile.dev
    ports:
      - "3001:3001"
      - "9229:9229"
    volumes:
      - ./apollo:/usr/app
      - /usr/app/node_modules
    depends_on:
      - mongodb
      - apollo-migrations
    container_name: phoenix.apollo.sema.local
    networks:
      - sema
  apollo-tests:
    image: apollo-dev-i
    build:
      context: apollo/
      dockerfile: ../.docker/apollo/Dockerfile.dev
    volumes:
      - ./apollo:/usr/app
      - /usr/app/node_modules
    command: npm run test
    depends_on:
      - mongodb
    container_name: phoenix.apollo.test.local
    networks:
      - sema
  apollo-migrations:
    image: apollo-dev-i
    volumes:
      - ./apollo:/usr/app
      - /usr/app/node_modules
    command: migrate-mongo up
    depends_on:
      - mongodb
    container_name: phoenix.apollo.migrations.local
    networks:
      - sema
  mongodb:
    image: mongo
    ports:
      - "5000:27017"
    volumes:
      - ~/docker/volumes/mongodb:/data/db
    container_name: phoenix.mongodb.sema.local
    networks:
      - sema
networks:
  sema: {}
