@import "../../../styles/_colors.module.scss";

.burger {
  background: none;
  border: none;
}

.badge {
  height: 15px !important;
  width: 15px !important;
  padding: 1px;
}

.divider {
  background: $white-50;
}

.team {
  img, p {
    max-height: none !important;
  }
}