@import "../../../styles/_colors.module.scss";

.separator {
  width: 1px;
  height: 100%;
}

.burger {
  background: none;
  border: none;
}

.badge {
  height: 15px !important;
  width: 15px !important;
  padding: 1px;
}

.organization {
  img, p {
    max-height: none !important;
  }
}

.menu-item-container {
  border: 1px $gray-200 solid;
  min-width: 230px;
  background: $gray-100;
  left: 0 !important;
}

.portfolio-container {
  width: 40px;
  height: 40px;
  background-color: $gray-200;
  &:hover {
    background-color: $gray-300;
  }
}

.notifications-container {
  width: 40px;
  height: 40px;
  background-color: $gray-200;
  &:hover {
    background-color: $gray-300;
    svg {
      fill: $blue-700 !important;
    }
  }
}

.avatar-name-wrapper {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invite-modal {
  z-index: 10000;

  .close-button {
    position: absolute;
    top: 48px;
    right: 30px;
  }
}

.invite-modal-content {
  width: 512px !important;
}

.invite-modal-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: $black-900;
  margin-bottom: 24px;
}

.success-screen-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.tick-wrapper {
  background: rgba(#0081A7, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.menu-item {
  height: 52px;
}

.external-org-switcher-container {
  width: 200px;
  height: 52px;
  position: relative;
}

.selected-org-name {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-icon {
  position: relative;
  top: -1px;
}

.internal-org-switcher-container {
  width: 150%;
  height: 450px;
  overflow-y: scroll;
  box-shadow: 0px 10px 30px rgba(32, 32, 32, 0.2);
  position: absolute;
  left: 0;
  top: calc(100% + 14px);
  -webkit-animation: fade-in .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.org-switcher-item {
  height: 70px;
  &:hover {
    opacity: .8;
  }
}

.user-bullet {
  width: 7px;
  height: 55px;
  background-color: #87B9E7;
}

.org-bullet {
  width: 7px;
  height: 55px;
}

.avatar {
  width: 42px;
  height: 42px;
}

.user-account-name {
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    height: 0
  }
  100% {
    opacity: 1;
    height: 450px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    height: 0
  }
  100% {
    opacity: 1;
    height: 450px;
  }
}
