@import "../../../styles/_colors.module.scss";

.burger {
  background: none;
  border: none;
}

.badge {
  height: 15px !important;
  width: 15px !important;
  padding: 1px;
}

.team {
  img, p {
    max-height: none !important;
  }
}

.menu-item-container {
  border: 1px $gray-200 solid;
  min-width: 230px;
  background: $gray-100;
}

.portfolio-container {
  width: 40px;
  height: 40px;
  background-color: $gray-200;
  &:hover {
    background-color: $gray-300;
  }
}

.notifications-container {
  width: 40px;
  height: 40px;
  background-color: $gray-200;
  &:hover {
    background-color: $gray-300;
    svg {
      fill: $blue-700 !important;
    }
  }
}

.avatar-name-wrapper {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}