@import "../../../styles/_colors.module";

.filter-container {
  width: 165px;
  max-width: 165px;
  border-radius: 4px;
}

.filter-border {
  border-radius: 4px;
  border: 1px solid $gray-500;
}

.search-bar {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
