
.hero {
  padding-bottom: 10rem;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  color: #000000;
  margin-top: 50px;
  align-self: end;
  max-width: 500px;
}

.text-container {
  position: absolute;
    left: 0;
    width: 100%;
}

.through-text {
  background-color: #f4f4f4;;
  padding: 0 20px;
  color: #999898;
}

.through-container {
  color: #696c6f;
  text-align: center;
  margin: 35px 0px;
  position: relative;
}

.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #cdcfd2;
  vertical-align: middle;
}

.login-tile {
  background-color: rgba(244, 244, 244, 0.8);
  border-radius: 12px;
}

.head-text {
  padding-bottom: 80px;
}

.foot-text {
  font-size: 0.9rem;
}

.container {
  padding-top: 80px;
  background-position: right 0px top -50px;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("/img/Lines.png");
  @media only screen and (min-width: 769px) {
    height: 100%;
  }
  @media screen and (max-width: 1023px) {
    padding-bottom: 250px
  }
}

.fa-container {
  min-width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
