.card-container {
    background: linear-gradient(180deg, #FFF 50%, #f4f4f4 50%);
}

.card {
    background-color: #FBFBFB;
    box-shadow: 0px 2px 10px 0px #00000012;
}

.chart {
    width: 650px;
    height: 600px;
}