.tag {
  background-color: #CDEFF9 !important;
  color: #0081A7 !important;
}

.notification {
  display: flex;
  align-items: center;
  background-color: #CADCEE;
  border: 1px solid #2D74B9;
  color: black;
  border-radius: 5px;
}

.table-wrapper {
  table {
    border: 0 !important;
  }
}

.status {
  min-width: 150px;
  max-width: 250px;
}

.form-input {
  max-width: 500px;
}
