/* Forms CSS */

.datepicker-wrapper {
  display: flex;
  align-items: center;
}

.input-datepicker {
  width: 8rem;
  padding-left: 0.7rem;
  min-height: 38px;
  line-height: 24px;
  font-size: 14px;
}
