.shadow {
    box-shadow: 0 0em 1em #0a0a0a1a, 0 0px 0 1px #0a0a0a05;
}

.border-none {
  border: none !important;
}

.colored-shadow {
    box-shadow: 8px 8px 0px rgba(229, 42, 145, 0.1);
}

.colored-shadow-small {
    box-shadow: 4px 4px 0px rgba(229, 42, 145, 0.1);
}

.background-foggy-white {
    background-color: #FCFCFC;
};

.background-gray-white {
  background-color: #f9f9f9;
}

.text-gray-light {
  color: #7C8188;
}

// Minimum height of the object is the full height of the screen minus the height of the header and the footer
.is-min-fullheight {
    min-height: calc(100vh - 152px);
}

.is-whitespace-nowrap {
    white-space: nowrap;
}

.is-full-height {
  height: 100%;
}

.is-full-width {
  width: 100%;
};

.is-cursor-pointer {
  cursor: pointer;
}

.outline-none {
  &:hover, &:focus {
    outline: none !important;;
    box-shadow: none !important;
  }
}

.has-background-purple {
  background: $purple;
}

.is-line-height-1 {
  line-height: 1;
}

.is-height-auto {
  height: auto;
}

.is-full-height {
  height: 100%;
}

.is-absolute {
  position: absolute;
}

$positions:
  "bottom", "top";

@each $i in $positions{
  .is-absolute-#{$i} {
    position: absolute;
    #{$i}: 0;
  }
}

$radius: "0", "2px", "4px", "8px", "14px", "16px", "24px";

@each $i in $radius{
  .border-radius-#{$i} {
    border-radius: #{$i} !important;
  }
}

.has-no-border {
  border: none;
}

// remove after bulma update
.is-underlined {
  text-decoration: underline;
}
