@use 'sass:list';
@import "./_colors.module.scss";
@import "../src/components/header/UserHeaderNav/UserHeaderNav.module.scss";

.shadow {
  box-shadow: 0 0em 1em #0a0a0a1a, 0 0px 0 1px #0a0a0a05;
}

.border-none {
  border: none !important;
}

.colored-shadow {
  box-shadow: 8px 8px 0px rgba(229, 42, 145, 0.1);
}

.colored-shadow-small {
  box-shadow: 4px 4px 0px rgba(229, 42, 145, 0.1);
}

.background-foggy-white {
    background-color: $white-50;
}

.background-gray-white {
  background-color: $gray-100;
}

.text-gray-light {
  color: $gray-600;
}

// Minimum height of the object is the full height of the screen minus the height of the header and the footer
.is-min-fullheight {
  min-height: calc(100vh - 152px);
}

.is-whitespace-nowrap {
  white-space: nowrap;
}

.is-full-height {
  height: 100%;
}

.is-full-width {
  width: 100%;
}

.is-cursor-pointer {
  cursor: pointer;
}

.outline-none {
  &:hover,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.is-line-height-1 {
  line-height: 1;
}

.is-height-auto {
  height: auto;
}

.is-full-height {
  height: 100%;
}

.is-absolute {
  position: absolute;
}

$positions: "bottom", "top";

@each $i in $positions {
  .is-absolute-#{$i} {
    position: absolute;
    #{$i}: 0;
  }
}

$radius: "0", "2px", "4px", "8px", "10px", "14px", "16px", "24px", "35px";

@each $i in $radius {
  .border-radius-#{$i} {
    border-radius: #{$i} !important;
  }
}

.has-no-border {
  border: none;
}

// remove after bulma update
.is-underlined {
  text-decoration: underline;
}

.has-no-horizontal-scroll {
  overflow-y: hidden;
}

.has-horizontal-scroll {
  overflow-y: scroll;
}

.content-container {
  max-width: 1440px;
  margin: 0 auto;
}

.switch-input {
  .switch[type="checkbox"] + label::after,
  .switch[type="checkbox"] + label:after {
    background: $gray-700;
  }
  .switch[type="checkbox"] + label::before,
  .switch[type="checkbox"] + label:before {
    background: $gray-200;
    border: 1px solid $gray-400;
  }

  .switch[type="checkbox"]:checked + label::after,
  .switch[type="checkbox"]:checked + label:after {
    background: $white-0 !important;
  }
  .switch[type="checkbox"]:checked + label::before,
  .switch[type="checkbox"]:checked + label:before {
    background: $blue-700;
    border: 1px solid $blue-700;
  }
}

.has-footer-margin {
  margin-bottom: 80px;
  @media screen and (max-width: 1350px) {
    margin-bottom: 150px;
  }
  @media screen and (max-width: 951px) {
    margin-bottom: 40px;
  }
}

.vertical-divider {
  display: inline-block;
  border-left: 1px solid $gray-400;
  margin: 0 32px;
  height: 50px;
}

.sema-wide-container {
  max-width: 1500px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.is-bordered {
  border: 1px solid $gray-400;
}

.is-circular {
  border-radius: 25px;
}

.is-mirrored {
  transform: scale(-1, 1);
}

.is-bordered {
  border: 1px solid $gray-300;
}

.has-white-input {
  background-color: $white-0;

  select {
    background-color: $white-0;
  }

  input {
    background-color: $white-0;
  }
}

.sema-toggle {
  label::after {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
}

.overflow-unset {
  overflow: unset;
}

.is-disabled {
  cursor: not-allowed !important;
}

.is-top-right {
  top: 0;
  right: 0;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.sema-tooltip {
  &::after {
    opacity: 0 !important;
  }
}

.has-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.has-border-red-500 {
  border-color: $red-500 !important;
}

.shadow-none {
  box-shadow: none !important;
}

.noHover{
  pointer-events: none;
}

@for $i from 1 through list.length($bgcolors) {
  .org-colour-#{$i - 1} {
    background-color: list.nth($bgcolors, $i) !important;
  }
}

.org-colour-personal {
  background-color: #87B9E7 !important;
}

.org-colour-allorgs {
  background-color: $blue-50 !important;
}