.shadow {
    box-shadow: 0 0em 1em #0a0a0a1a, 0 0px 0 1px #0a0a0a05;
}

.colored-shadow {
    box-shadow: 8px 8px 0px rgba(229, 42, 145, 0.1);
}

.colored-shadow-small {
    box-shadow: 4px 4px 0px rgba(229, 42, 145, 0.1);
}

.background-foggy-white {
    background-color: #FCFCFC;
};

// Minimum height of the object is the full height of the screen minus the height of the header and the footer
.is-min-fullheight {
    min-height: calc(100vh - 152px);
}

.is-whitespace-nowrap {
    white-space: nowrap;
}

.outline-none {
  &:hover, &:focus {
    outline: none !important;;
    box-shadow: none !important;
  }
}

.is-line-height-1 {
  line-height: 1;
}

.is-height-auto {
  height: auto;
}

.is-full-height {
  height: 100%;
}

.has-background-purple {
  background: $purple;
}
