/* Layout styles */

Header {
  padding: 0.8125rem 1.25rem;
  height: 3.75rem;
  cursor: pointer;

  .logo {
    height: 2.125rem;
    width: 4.375rem;

    path {
      fill: white;
    }
  }

  img {
    height: 2.8rem;
    //margin-top: 0.5rem;
    line-height: 2.8rem;
  }
}

Footer {
  padding: 1rem;
}

.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .Content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background: $secondary;
    color: $on-secondary;
    font-family: $core-font;

    a {
      color: inherit;
    }
  }
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.title-topper {
  // For some reason $primary doesn't work, need to hard code color
  border-top: 0.5rem solid #4B7DF4;
  width: 8.5rem;
}
