@import "./_colors.module.scss";
/* Layout navbar-start yles */

Header {
  // padding: 0.75rem 1.25rem 0 1.25rem;
  padding: 0 0rem 0 1.25rem;
  cursor: pointer;

  .logo {
    height: 2.125rem;
    width: 4.375rem;
    margin-top: 0.6rem;

    path {
      fill: $black-950;
    }
  }

  .user-menu {
    margin-top: 0.5rem;
  }

  .user-menu.button {
    height: 100%;
    margin: 0;
    padding-left: 5rem;
    font-weight: normal;
  }

  .navbar {
    height: 5rem;
    .menu-item {
      border-radius: 4px;
      height: 52px;
      &:hover {
        opacity: .8;
      }
    }
  }

  img {
    height: auto;
    //margin-top: 0.5rem;
    line-height: 2.8rem;
  }
}

Footer {
  padding: 1rem;
}

.Layout {
  height: auto !important;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: $white-50;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.title-topper {
  border-top: 0.5rem solid $primary;
  width: 8.5rem;
}
.content-wrapper {
  width: 100%;
  margin-left: 240px;
  max-width: calc(100vw - 240px);
  overflow-x: hidden;
}
