// Import initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Update Bulma global variables
$primary: #1F4EBD;
$spacing-values: ("0": 0, "1r": 1rem, "2r": 2rem, "5": 5px, "10": 10px, "15": 15px, "20": 20px, "50": 50px, "70": 70px, "120": 120px);
$input-background-color: #E7E8EA;
$family-sans-serif: "Montserrat", sans-serif;
$family-monospace: sans-serif;

@import "../node_modules/bulma/bulma.sass";
// Sample of individual module import - in case we want to optimize modules
// @import "../node_modules/bulma/sass/grid/columns.sass";

// Import bulma-extensions
@import "../node_modules/bulma-extensions/src/sass/index.sass";

// 3rd party components  (for CSS imports omit extension)
@import '../node_modules/bulma-social/bin/bulma-social.min';

// React date-picker styles
@import '../node_modules/react-datepicker/dist/react-datepicker.css';

// react spinner loader styles
@import "../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css";
// Additional SCSS files
@import "./fonts";
@import "./forms";
@import "./layout";
@import "./loading";
@import "./menus";
@import "./toaster";
@import "./helpers";


