@import "../../../styles/_colors.module.scss";

.right-button {
  position: absolute;
  right: 0;
}

.dropdown-container {
  box-shadow: none !important;
}

.button {
  width: 200px;
}

.placeholder {
  color: $blue-900 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.outlined {
  border: 1px solid $gray-500;
}
