.right-button {
  position: absolute;
  right: 0;
}

.dropdown-container {
  box-shadow: none !important;
}

.button {
  width: 200px;
}

.placeholder {
  color: #394A64 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
