@import "../../../styles/_colors.module.scss";

.right-button {
  position: absolute;
  right: 0;
}

.dropdown-container {
  box-shadow: none !important;
}

.button {
  width: 200px;
}

.placeholder {
  color: $gray-600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.outlined {
  border: 1px solid $gray-500;
}

.icon {
  margin-right: 6px;
  min-width: 24px;
} 