@import "../../../styles/_colors.module.scss";

.user-summary {
  position: relative;
}

.username {
  height: 135px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.user-overview {
  min-height: 150px;
  height: auto;
}

.user-image {
  border-radius: 100px;
  width: 180px;
  height: 180px;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 25px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.edit-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.snapshots-modal {
  &-wrapper {
    width: 510px;
  }

  &-header {
    padding: 40px 40px 0 40px;
    border-bottom: none;
  }

  &-title {
    font-size: 2rem;
  }

  &-cross {
    opacity: 0.5;
  }
}

.notification-toast {
  &-content-wrapper {
    width: 300px;
  }
  &-button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }
  &-icon {
    position: relative;
    top: -5px;
    max-height: 20px;
    svg {
      color: $gray-600
    }
  }
}
