@import "../../../styles/_colors.module.scss";

.wrapper {
  border-bottom: 1px solid $gray-200 !important;
}

.active {
  color: $blue-700 !important;
  border-bottom: 2px solid $blue-700 !important;
}

.listItem {
  &:hover {
    color: $blue-700 !important;
    border-bottom: 2px solid $blue-700 !important;
  }
}
