@import "../../../../styles/colors.module.scss";

.notification {
  display: flex;
  align-items: center;
  background-color: $gray-300;
  border: 1px solid $blue-700;
  color: $black-950;
  border-radius: 5px;
}

.table-wrapper {
  table {
    border: 0 !important;
  }
}

.status {
  min-width: 150px;
  max-width: 250px;
}

.form-input {
  max-width: 500px;
}

.organization-description {
  max-width: 700px;
}
