.page-input {
  width: 40px;
  -moz-appearance: textfield;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination-buttons {
  border: none;
  background: none;
  &:disabled {
    background: none;
  }
}

.pagination-section {
  border-radius: 0px 0px 8px 8px;
}