@import "../../../../styles/_colors.module.scss";

.card-container {
  background: linear-gradient(180deg, $white-0 50%, $white-50 50%);
}

.select-container {
  border: none !important;
}

.repo-select-container {
  max-width: 380px !important;
  @media only screen and (max-width: 769px) {
    max-width: 300px;
  }
}

.date-picker-container {
  z-index: 999;
}

.wrapper {
  margin-left: -10px;
  margin-right: -10px;
}

.divider {
  border-bottom: 1px solid $gray-500;
}

.repo-visibility-chip {
  background: #E3E9EE;
  border-radius: 4px;
}

.select-container {
  max-width: 380px;
}