.card-container {
  background: linear-gradient(180deg, #FFF 50%, #f4f4f4 50%);
}

.card {
  background-color: #FBFBFB;
  box-shadow: 0px 2px 10px 0px #00000012;
  color: #73839C;
}

.select-container {
  border: none !important;
}

.repo-select-container {
  max-width: 380px !important;
  @media only screen and (max-width: 769px) {
    max-width: 300px;
  }
}