@import "../../../../styles/_colors.module.scss";

.tag {
  background: $gray-200 !important;
}

.document {
  max-width: 500px;
}

.body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $gray-900;
  max-width: 350px;
}

.stats-col {
  width: 180px;
}