@import "../../../../styles/_colors.module.scss";

.tag {
  background: $gray-200 !important;
}

.document {
  max-width: 200px;
}

.body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $gray-900;
  max-width: 150px;
  @media only screen and (min-width: 1408px) {
    max-width: 250px !important;
  }
}
