.tag {
  background: #d7ebf1 !important;
}

.document {
  max-width: 500px;
}

.body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #192129;
}

.stats-col {
  width: 180px;
}