@import "../../../../styles/_colors.module.scss";

.card {
  width: calc(100%/3);
  max-width: calc(100%/3);
  @media only screen and (max-width: 769px) {
    min-width: 100% !important;
    flex: 1;
    min-height: auto !important;
  }
}

.card-width-3c {
  width: calc(100%/4);
  max-width: calc(100%/4);

  @media only screen and (max-width: 1440px) {
    width: calc(100%/3);
    max-width: calc(100%/3);
  }

  @media only screen and (max-width: 1280px) {
    width: calc(100%/2);
    max-width: 420px;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    max-width: 420px;
  }
}

.card-width-2c {
  width: calc(100%/2);
  max-width: calc(100%/2);
  @media only screen and (max-width: 769px) {
    min-width: 100% !important;
    flex: 1;
    min-height: auto !important;
  }
}

.stat {
  width: calc(95%/4);
  @media only screen and (max-width: 769px) {
    width: calc(95%/2);
  }
}

.repo-info {
  min-height: 120px;
}

.avatar {
  border: 1px solid $gray-300;
}

.user-count {
  background: $blue-50 !important;
  height: 32px;
  width: 32px;
  z-index: 10;
  p {
    color: $gray-700 !important;
  }
}

.description {
  height: 3rem;
  @media only screen and (max-width: 769px) {
    height: auto !important;
  }
}

.stat-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.tooltip-wrapper {
  max-width: 80%;
  > div {
    width: 100%;
  }
}

.repo-skeleton-background {
  background-color: rgba($skeleton-back, 0.3);

}
