@import "../../../styles/_colors.module.scss";

.select-wrapper {
  max-width: 380px !important;
  @media only screen and (max-width: 769px) {
    max-width: 300px;
  }
}

.select-container {
  &:hover {
    .select-control {
      box-shadow: 0 0 0 1px #2684FF !important;
    }
  }

  .select-control {
    box-shadow: 0 0 0 1px transparent !important;
    border: 1px solid transparent !important;

    & ~ div {
      margin: 1px 0;
      padding: 8px 0;
      background: transparent;
      border: none;
      box-shadow: none;

      & > div {
        background: $white-0;
        border-radius: 4px;
        box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
      }
    }
  }
}
