@import "styles/colors.module";

.tooltip {
  border: 1px solid $gray-300;
  box-shadow: 0px 2px 10px 0px #00000012;
  width: 300px;
  -webkit-animation: fade-in 250ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 250ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
