@import "styles/colors.module";

.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 240px;
  max-width: 240px;
  background: $black-900;
}

.menu-item {
  padding: 7px 10px;
  font-size: 14px;

  &:hover, &:focus {
    background: $black-900;
    outline: none;
  }
}

.active {
  background: $gray-700;
  outline: none;
}

.bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
}
