.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 200px;
  max-width: 200px;
  background: #2a113f;
}

.close {
  min-width: 65px;
  max-width: 65px;

  .label-menu {
    display: none;
  }
  .menu-item {
    justify-content: center;
  }
}

.menu-item {
  padding: 7px 10px;
  font-size: 14px;

  &:hover, &:focus {
    background: #3f2852;
    outline: none;
  }
}

.active {
  background: #3f2852;
  outline: none;
}

.bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
}
