@import "../../../styles/_colors.module.scss";

.onboarding-container {
    background-color: $gray-300;
}

.modal {
    width: 1040px;
    height: 600px;
    @media only screen and (max-width: 768px) {
        width: auto;
        height: auto;
    }
}

.info {
    margin-top: -50px;
    @media only screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.collection-modal {
    height: calc(100% - 40px);
}

.collection-container {
    max-height: 490px;
    overflow-y: auto;
    padding: 10px 0px;
    overflow-x: hidden;
}

.btn-footer {
    position: absolute;
    height: 50px;
    bottom: 40px;
}

.footer-content {
    position: relative;
}

.prev {
    bottom: 20px;
    position: absolute;
    // left: 20px;
}

.next {
    bottom: 20px;
    position: absolute;
    right: 40px;
}

.skip {
    bottom: 20px;
    position: absolute;
    right: 120px;
}

.comment-modal {
    height: calc(100% - 40px);
}

.extension-modal {
    height: calc(100% - 110px);
}

.ul{
    list-style-type:none;
    li{
        color: $gray-500;
        position: relative;
        display: inline-block;
        background-color: $gray-400;
        border-radius: 100px;
        vertical-align: middle;
        min-width: 8px;
        min-height: 8px;
        padding: 0px;
        transition: all .3s ease;
        margin-right: 8px;
        cursor: hand;
        cursor: pointer;
        &:hover{
            opacity:0.6;
        }
    }
}

.active{
    min-width: 12px !important;
    min-height: 12px !important;
    background-color: $blue-700 !important;
    &:hover{
        opacity:1;
    }
}

.animation-container {
    background-image: url('/img/onboarding/onboarding_bg.png');
    background-position: center;
    background-size: cover;
}

.space {
    width: 52.66px;
}

.animation-gradient {
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    z-index: 100;
    background-image: linear-gradient( to bottom,
        rgba( 0, 0, 0, 0 ) 80%,
        rgba( 0, 0, 0, 0.8 ) 100% );
    background-image: -moz-linear-gradient( top,
        rgba( 0, 0, 0, 0 ) 80%,
        rgba( 0, 0, 0, 0.8 ) 100% );
    background-image: -ms-linear-gradient( top,
        rgba( 0, 0, 0, 0 ) 80%,
        rgba( 0, 0, 0, 0.8 ) 100% );
    background-image: -o-linear-gradient( top,
        rgba( 0, 0, 0, 0 ) 80%,
        rgba( 0, 0, 0, 0.8 ) 100% );
    background-image: -webkit-linear-gradient( top,
        rgba( 0, 0, 0, 0 ) 80%,
        rgba( 0, 0, 0, 0.8 ) 100% );
}

.relative {
    position: relative;
}

.download-button {
    path {
        fill: white;
    }
}

.footer {
    @media only screen and (max-width: 768px) {
        margin-top: 25px;
    }
}

.loader {
    width: 25px;
}

.nextBtn {
    height: 48px;
}

.skip-btn {
    border-width: 2px;
}

.ffo-modal-image-section {
    width: 50%;
    height: 100%;
    background-image: url('/img/onboarding/ffo_onboarding_bg.jpg');
    background-size: cover;

    @media screen and (max-width: 1040px) {
        display: none;
    }
}

.ffo-modal-close-icon {
    position: absolute;
    top: 42px;
    right: 45px;
    svg {
        opacity: 0.5;
    }
}

.ffo-modal-wrapper {
    width: 1025px;
    height: 550px;
    border-radius: 8px;

    @media screen and (max-width: 1040px) {
        width: 800px;
    }

    @media only screen and (max-width: 768px) {
        width: auto;
        height: auto;
    }
}

.ffo-modal-repos-list-section {
    padding: 40px;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;

    @media screen and (max-width: 1040px) {
        width: 100%;
    }
}

.ffo-modal-repos-list-section-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $black-950;
    margin-bottom: 10px;
}

.ffo-modal-repos-list-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.ffo-modal-repos-list-section-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    border: 2px solid $blue-700;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
}

.ffo-modal-repos-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: inherit;
    overflow: scroll;
    max-height: 60%;
    padding-bottom: 5px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.repo-list-item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: 1px solid $gray-200;
    padding: 16px;
    box-shadow: 0 2px 3px rgba(32, 32, 32, 0.2);
    border-radius: 8px;

    &:hover {
        border: 1px solid $blue-200;
        background-color: $blue-50;
    }
}

.repo-list-item-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.repo-list-item-name-wrapper {
    flex-grow: 1;
}

.repo-list-item-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.repo-list-item-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: $green-700;
}

.ffo-modal-missing-repos-block {
    font-family: 'Inter', 'sans-serif';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: $gray-700;
    position: absolute;
    bottom: 40px;
    right: 40px;

    @media only screen and (max-width: 768px) {
        right: 15px;
        left: 15px;
    }
}
