<div class="sema">
  <div>
    <button class="zoom sema-button sema-is-small" title="Awesome">
      <img src="sema_trophy" />
    </button>
    <button class="zoom sema-button sema-is-small" title="Looks good">
      <img src="sema_ok" />
    </button>
    <button class="zoom sema-button sema-is-small" title="I have a question">
      <img src="sema_question" />
    </button>
    <button class="zoom sema-button sema-is-small" title="Fix">
      <img src="sema_tools" />
    </button>
    <button class="zoom sema-button sema-is-small" title="Remove">
      <img src="sema_none" />
    </button>
  </div>
  <div class="sema-tag-container">
    <button class="semaAddTag sema-button sema-is-rounded sema-is-small">
      <img class="sema-mr-1" src="sema_tag" />Add Tags
    </button>
  </div>
</div>
