<div id="addTagsModal" class="sema-modal">
  <div class="sema-modal-background"></div>
  <!-- todo: change withsema variables -->
  <div class="sema-modal-card" style="width: 300px">
    <header class="sema-modal-card-head">
      <p class="sema-modal-card-title">All Tags</p>
    </header>
    <section class="sema-modal-card-body">
      <div class="sema-columns">
        <div id="tagsPositiveContainer" class="sema-column">
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Readable</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Secure</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Efficient</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Elegant</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Reusable</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Fault-tolerant</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded"
            >Maintainable</span
          >
        </div>
        <div id="tagsNegativeContainer" class="sema-column">
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Unreadable</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Unsecure</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Inefficient</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Inelegant</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Not reusable</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4"
            >Brittle</span
          >
          <span class="sema-tag sema-is-light sema-is-rounded"
            >Not maintainable</span
          >
        </div>
      </div>
    </section>
    <footer class="sema-modal-card-foot">
      <button class="sema-button sema-is-success">Save changes</button>
      <button id="sema-modal-close" class="sema-button">Cancel</button>
    </footer>
  </div>
</div>
