<div class="sema">
    <div>
        <button class="zoom sema-button sema-is-small" title="Awesome">
            <img src="sema_trophy">
        </button>
        <button class="zoom sema-button sema-is-small" title="Looks good">
            <img src="sema_ok">
        </button>
        <button class="zoom sema-button sema-is-small" title="I have a question">
            <img src="sema_question">
        </button>
        <button class="zoom sema-button sema-is-small" title="Fix">
            <img src="sema_tools">
        </button>
        <button class="zoom sema-button sema-is-small" title="Remove">
            <img src="sema_none">
        </button>
    </div>
    <div class="sema-tag-container">
        <button id="semaAddTag" class="sema-button sema-is-primary sema-is-small">
            <img class="sema-mr-1" src="sema_tag">Add Tags
        </button>
        <span class="sema-tag">Tag</span>
    </div>
    <div id="addTagsModal" class="sema-modal">
        <div class="sema-modal-background"></div>
        <!-- todo: change withsema variables -->
        <div class="sema-modal-card" style="width: 300px;">
            <header class="sema-modal-card-head">
                <p class="sema-modal-card-title">All Tags</p>
                <button class="sema-delete" aria-label="close"></button>
            </header>
            <section class="sema-modal-card-body">
                <div class="sema-columns">
                    <div class="sema-column">
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Readable</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Secure</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Efficient</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Elegant</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Reusable</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Fault-tolerant</span>
                        <span class="sema-tag sema-is-light sema-is-rounded">Maintainable</span>
                    </div>
                    <div class="sema-column">
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Unreadable</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Unsecure</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Inefficient</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Inelegant</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Not reusable</span>
                        <span class="sema-tag sema-is-light sema-is-rounded sema-mb-4">Brittle</span>
                        <span class="sema-tag sema-is-light sema-is-rounded">Not maintainable</span>
                    </div>
                </div>
            </section>
            <footer class="sema-modal-card-foot">
                <button class="sema-button sema-is-success">Save changes</button>
                <button class="sema-button">Cancel</button>
            </footer>
        </div>
    </div>
</div>