@import "../../../../styles/_colors.module.scss";

.table-wrapper {
  overflow-x: scroll !important;
}

.table {
  border: none !important;
  border-top: none !important;
  min-width: 881px;
}

.thead {
  background: none !important;
  border: none !important;
  tr {
    border: none !important;
    th {
      border: none !important;
      color: $gray-700 !important;
    }
  }
}
