.statusFilter {
    position: relative;

    svg {
        cursor: pointer;
    }
}

.popup {
    position: absolute;
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    min-width: 116px;
    display: flex;
    flex-direction: column;
    right: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.listItem {
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
        margin-right: 10px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
