.date-ranges {
  border-right: 1px solid #EEEDF0;
  min-width: 150px;
}

.calendars {
  border-bottom: 1px solid #EEEDF0;
}

.first-calendar {
  border-right: 1px solid #EEEDF0;
}

.date-input {
  max-width: 100px;
}