.card {
  @media only screen and (max-width: 779px) {
    max-width: 100% !important;
    width: 100% !important;
    flex: 1;
    min-height: auto !important;
    height: auto;
  }
  @media only screen and (min-width: 780px) {
    width: calc(100%/2);
    max-width: 540px;
    overflow: visible;
  }
  @media only screen and (min-width: 1216px) {
    width: calc(100%/3);
    max-width: calc(100%/3);
    overflow: visible;
  }
  .card-bottom-section {
    min-height: 64px;
  }
}

.stat {
  width: calc(95%/4);
  @media only screen and (max-width: 769px) {
    width: calc(100%/2);
    padding-right: 12px;
  }
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 280px;
}

.add-button {
  height: 100%;
}

.tag {
  max-width: 120px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-bar {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 7px;
}

.organization-icon-container {
  width: 28px;
  height: 28px;
}
