@import "../../../styles/_colors.module.scss";

.tooltip {
  display: flex;
  position: relative;

  &_text {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -38px;
    color: $white-50;
    background: $black-900;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
  }

  &:hover {
    .tooltip_text {
      display: flex;
    }
  }
}
