@import "../../../../styles/_colors.module.scss";

.user-summary {
  position: relative;
  border-bottom: 1px solid $gray-400;
}

.username {
  height: 135px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.user-overview {
  min-height: 150px;
  height: auto;
}

.user-image {
  border-radius: 100px;
  width: 180px;
  height: 180px;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 25px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.edit-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  &:hover {
    background-color: $gray-100;
    svg {
      color: $black-900;
    }
  }
  svg {
    color: $gray-600;
  }
}


.title {
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  min-height: 75px;
}

.pdfTitle {
  border-bottom: 1px solid $gray-300;
  min-height: 75px;
}

.snaps-container {
  .chart-wrap {
    position: relative;
    margin-bottom: 30px;
    @media only screen and (min-width: 1440px) {
      width: calc(50% - 16px);
      display: inline-flex;
      flex-direction: column;
      margin-bottom: 0;
    }
  }
  .chart-wrap:nth-of-type(odd) {
    @media only screen and (min-width: 1440px) {
      margin-right: 32px;
    }
  }
}

.textContainer {
  position: absolute;
  top: -30px;
  background: black;
  color: white;
}

.pdfButton {
  p {
    display: none;
  }
  &:hover {
    background-color: $gray-100 !important;
    p {
      padding: 4px;
      top: -30px;
      left: -35px;
      text-align: center;
      width: 100px;
      display: block;
      position: absolute;
      background: black;
      color: white;
      border-radius: 4px;
    }
  }
}

.portfolio-ghost-button {
  padding: 14px;
  color: $gray-800;
  border: 1px solid $gray-400;
  box-sizing: border-box;
  border-radius: 4px;
  position: unset !important;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;

  svg {
    color: rgba($gray-600, 0.8);
  }
}

.portfolio-header-actions {
  gap: 10px
}
