@import "../../../../styles/_colors.module.scss";

.tag {
  background: $blue-50 !important;
}

.document {
  max-width: 500px;
}

.body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-col {
  max-width: 250px;
}