@import "../../../styles/_colors.module.scss";

.container {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: $white-0;
  border: 1px solid $gray-600;
}

.container:hover input ~ .radio {
  background-color: $white-50;
}

.container input:checked ~ .radio {
  border: 5px solid $blue-700;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .radio:after {
  display: block;
}