@import "../../../../styles/_colors.module.scss";


.comment-wrapper {
  .comment-text {
    font-size: 1.25rem;
  }

  .header-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
  }
}

.date {
  color: $gray-700;
}

.avatar {
  height: 70px;
  width: 70px;
  @media only screen and (max-width: 768px) {
    height: 48px;
    width: 48px;
  }
}

.item-comment {
  word-break: break-all;
}
