.wrapper {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        left: -100%;
        top: 0;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        right: -100%;
        top: 0;
    }
}

.page-wrapper {
    margin-top: 2px;
}

.comment-wrapper {
    min-width: 160px;
}

.summaries-wrapper {
    max-width: 500px;
}

.tags-wrapper {
    max-width: 400px;
}