.users-page {
    padding: 35px 25px;
    background: #f7f8fa;
    height: 100%;
}

.button {
    width: 22px;
    height: 20px;
    line-height: 20px;
    background: #f0f0f0;
    border: 0;
    margin: 0 2px;
    cursor: pointer;

    &:first-child {
        margin-left: 10px;
    }
    &:focus {
        outline: none;
    }
}

.actionButton {
    button {
        color: #2a113f;
        text-decoration: underline;
        background: transparent;
        border: 0;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

.avatar-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.status {
    svg {
        margin-left: 10px;
    }
}
