.badge {
    border-radius: 20px;
    padding: 4px 10px;
    text-align: center;
    max-width: 120px;
}
.green {
    background: #E9F8EC;
    color: #A9DB5F;
}
.pink {
    background: #FFE5E6;
    color: #E93B89;
}
.blue {
    background: #ECF7FD;
    color: #0081A7;
}
.purple {
    background: #efe8e2;
    color: #2a113f;
}
