@import "../../../../styles/_colors.module";

.placeholder {
  color: $gray-600;
}

.select {
  min-width: 150px;
  max-height: 40px;
}

.select-outlined {
  border: 1px solid $gray-500;
}

.select-container {
  z-index: 10;
  display: grid;

  div:first-child {
    order: 2;
    z-index: 10;
  }

  div:nth-child(2) {
    order: 1;
  }
}

.control {
}

.menu {
  border-top: 1px solid $gray-300;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07) !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;

  div:nth-child(1) {
    max-height: 220px;
  }
}

.img {
  object-fit: cover;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.badge {
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
}

.value-container {
  max-height: 200px;
  overflow: auto !important;
}

.item-label {
  word-break: break-all;
}

.wrapper {
  border: 1px solid $gray-500;
  border-radius: 4px;
}

.clear-all-section {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 8px;
  padding-right: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: $blue-700;

  div {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  svg {
    height: 13px;
    width: 13px;
  }
}

.selected-option {
  background: $blue-0 !important;
}

.outer-label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: $gray-900
}

.select-input {
  input:focus {
    background: $blue-0;
    border: 2px solid $blue-700;
  }
}

.select-values {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 145px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.select-value-item {
  background: $blue-700;
  border-radius: 4px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  box-sizing: border-box;
  color: $white-0;
  font-weight: 600;
  font-size: 10px;
}
