@import "../../../../styles/_colors.module";

.placeholder {
  color: $gray-600;
}

.select {
  min-width: 150px;
}

.select-outlined {
  border: 1px solid $gray-500;
}

.select-container {
  z-index: 10;
}

.control {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07);
}

.menu {
  border-top: 1px solid $gray-300;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07) !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.img {
  object-fit: cover;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.badge {
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
}

.value-container {
  max-height: 200px;
  overflow: auto !important;
}

.item-label {
  word-break: break-all;
}

.wrapper {
  border: 1px solid $gray-500;
  border-radius: 4px;
}
