{
  "presets": [
    //    TODO: commented just because it breaks CE env variables / I know JSON doesn't allow comments, but
    //    "@babel/preset-react"
    "react-app"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
