@import "../../../../styles/_colors.module.scss";

.subtitle {
}

.tile {
    background-color: $white-50;
    height: 510px;
    margin: 0 0 50px 0 !important;
    @media only screen and (max-width: 980px) {
        height: auto !important;
    }
}

.container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
}

.mobile-view {
    @media screen and (min-width: 980px) {
        display: none !important;
    }
}

.desktop-view {
    @media screen and (max-width: 980px) {
        display: none !important;
    }
}

.img-container {
    position: relative;
    height: 250px;
    @media only screen and (max-width: 980px) {
        height: 180px !important;
        max-width: 300px;
    }
}

.img {
    width: fit-content;
}

.button-play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.video-container {
    border-radius: 12px !important;
    overflow: hidden;
	position: relative;
	padding-bottom: 36.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-container iframe {
    position: absolute;
	top: 0;
	left: 17%;
	width: 65%;
	height: 100%;
    border-radius: 12px;
}

.front-hero {
    min-width: 79px;
}

.back-hero {
    min-width: 66px;
    position: relative;
    left: 25%;
    margin-top: -40px;
}

.image-container {
    margin-top: -10px;
}