@import "../../../styles/_colors.module.scss";

.sidebar {
  width: 200px;
  min-width: 200px;
  max-width: 300px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: block;
  // max-width: 200px;
}

.close {
  min-width: 65px;
  max-width: 65px;

  .label-menu {
    display: none;
  }
  .menu-item {
    justify-content: center;
  }
}

.menu-item {
  font-size: 14px;
  color: $gray-600;
  text-decoration: none;
  // &:hover, &:focus {
  //   background: #3f2852;
  //   outline: none;
  // }
}

.active {
  // background: #3f2852;
  color: $blue-700;
  outline: none;
  border-bottom: 2px solid $blue-700;
}

.bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
}
