@import "../../../../styles/_colors.module.scss";

.preview {
  border: 1px solid $gray-500;
  width: 100px;
  height: 100px;
}

.error {
  border: 1px solid $red-500;
  background-color: $red-50 !important;
}

.image {
  max-width: 40px;
  max-height: 40px;
}

.input {
  display: none;
}
