.footer {
    background-color: #2D2A2E;
}

.tile {
    height: 50px;
}

.socials {
    position: absolute;
    right: 0;

    &__icon {
        margin-left: 16px;
        margin-right: 16px;
        height: 16px;
    }
}
