.snapshot {
  min-height: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(32, 32, 32, 0.2);
}

.wrapper {
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.description-container {
  @media only screen and (min-width: 1024px) {
    min-width: 300px;
  }
}

.chart-container {
  @media only screen and (min-width: 1024px) {
    min-width: 600px;
  }
}

.comments-snap-content {
  box-sizing: content-box;
}
