@import "../../../../styles/_colors.module.scss";

.avatar {
  border: 1px solid $gray-300;
  height: 32px;
  width: 32px;
  margin-left: -10px;

  &:nth-of-type(1) {
    margin-left: 0;
  }
}

.user-count {
  border: 1px solid $blue-50;
  height: 32px;
  width: 32px;
  z-index: 10;
  background-color: $blue-50;

  p {
    color: $gray-800 !important;
  }
}
