{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "func-names": 0,  
    "indent": ["warn", 2],
    "max-len": ["warn", 150, 2],
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "object-curly-newline": ["error", { "minProperties": 5, "consistent": true }],    
    "operator-linebreak": ["error", "after", { "overrides": { "?": "ignore", ":": "ignore" } }], 
    "react/forbid-prop-types": 0,    
    "react/jsx-closing-bracket-location": 0, 
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": ["off", { allow: "single-child" }],
    "react/react-in-jsx-scope": "off",
  }
}
